<!-- <div class="flexbox-container" style="align-items: center;">
  <div class="alignTop">
    <div class="together">
      <img src="../../../assets/eunoia-logo.png" width="77" height="79" alt="MoveUp Education" />
      <p>MoveUp Education</p>
    </div>
  </div>

  <div class="alignTop">
    <div class="product">
      <h3>Email</h3>
      <p style="font-size: 1rem">contact.eunoiaacademy@gmail.com</p>
    </div>
  </div>
  <div class="alignTop">
    <div class="product">
      <h3>Téléphone</h3>
      <p style="font-size: 1rem">+216 54 686 803</p>
    </div>
  </div>

  <div class="alignTop">
    <div class="product">
      <h3>Adresse</h3>
      <p style="font-size: 1rem">Rue Sidi Bou Ali Hammamet, Nabeul</p>
    </div>
  </div>
  <div class="alignTop">
    <div class="follow">
      <h3>Follow us</h3>
      <div class="imgg">
        <a  href="https://www.facebook.com/EunoiaAcademyCJG/">
          <img src="../../../assets/profile/facebook.svg" width="30.8" height="30.8" alt="MoveUp Education Facebook" />
        </a>
        <a href="https://www.instagram.com">
          <img src="../../../assets/instagram.png" width="50.6" height="50.6" alt="MoveUp Education Instagram" />
        </a>
      </div>
    </div>
  </div>
</div> -->
