.inputs-row {
  display: flex;
  justify-content: space-between;
}
h1 {
  margin-bottom: 2rem;
}
div.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#actions {
}

.text-area {
  /* height: 50px; */

  /* Gray · 10% */
  background: #fafafa;
  /* Gray · 20% */
  border: 3px solid #f5f7fa;
  border-radius: 11px;

  font-size: 1rem;
  font-weight: 300;

  padding: 1rem;
  margin-bottom: 1rem;
  /* Gray · 60% */
  margin-top: 1rem;
  color: var(--gray80);
  width: 100px;
}

.text-area#status {
  width: 300px;
}
/* .inputs-row input,
  .inputs-row select {
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: unset;
    margin: 5px;
    width: 300px;
  } */
.btn-update-file {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
button {
  height: 2rem;
  box-shadow: 0px 4px 12px rgb(120 98 188 / 16%);
  border-radius: 7px;
  border: 0;
  font-size: 1rem;
  color: #ffffff;
  background-color: var(--green-base);
  padding: 10px 15px;
  margin-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}
