<div>
  <div>
    <input
      class="text-area"
      [(ngModel)]="timeoffRequest.startDateSpecs.date"
      value="{{ timeoffRequest.startDateSpecs.date | date: 'yyyy-MM-dd' }}"
      type="date"
    />
    From :
    <select [(ngModel)]="timeoffRequest.startDateSpecs.from">
      <option value="morning">Morning</option>
      <option value="afternoon">Afternoon</option>
    </select>
  </div>
  <div>
    <input
      class="text-area"
      [(ngModel)]="timeoffRequest.endDateSpecs.date"
      value="{{ timeoffRequest.endDateSpecs.date | date: 'yyyy-MM-dd' }}"
      type="date"
    />
    To :
    <select [(ngModel)]="timeoffRequest.endDateSpecs.to">
      <option value="morning">Morning</option>
      <option value="afternoon">Afternoon</option>
    </select>
  </div>

  <div *ngIf="!isAddOperation">
    <select [(ngModel)]="timeoffRequest.status" class="text-area">
      <option value="Approved">Approved</option>
      <option value="Rejected">Rejected</option>
    </select>
  </div>
</div>
<mat-dialog-actions>
  <button
    (click)="
      isAddOperation ? requestTimeoff() : updateTimeoffRequest(timeoffRequest)
    "
  >
    {{ isAddOperation ? "Add" : "Edit" }}
  </button>
  <button mat-dialog-close="close">Close</button>
</mat-dialog-actions>
