<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
<app-header></app-header>
<app-banner></app-banner>
<!-- <app-work-process></app-work-process> -->
<!-- <section
  class="data-analysis-feature-area pb-130"
  style="text-align: -webkit-center"
>
  <div class="container nous-somme-container">
    <div class="row align-items-center">
      <div class="col-lg-7">
        <div class="data-analysis-preview-wrapper">
          <img
            class="animate-float-bob-y"
            src="../../../../assets/online-learning.svg"
            alt="data analysis Five"
          />
        </div>
      </div>
      <div class="col-lg-5">
        <div class="data-analysis-content">
          <div class="section-title">
            <div class="section-heading-tag">
              <span class="single-heading-tag">QUI SOMMES NOUS ?</span>
            </div>
            <h2>Plateforme éducative en ligne</h2>
          </div>
          <div class="section-list-style">
            <ul>
              <li>Nous sommes une équipe d’enseignants très soudés.</li>
              <li>Nous sommes plus des amis que des collègues.</li>
              <li>Notre projet est aussi le votre</li>
              <li>Ensemble nous parviendrons à le réaliser</li>
            </ul>
          </div>
          <div
            class="section-button-wrapper section-dual-button wow fadeInUp"
            data-wow-delay="0.3s"
            data-wow-duration="1500ms"
          >
            <a routerLink="/signup" class="filled-btn btn-bordered">
              Commencer maintenant <i class="fas fa-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div> -->
<!-- </div> -->
<!-- </section> -->
<!-- <app-pricing></app-pricing> -->
<!-- <app-testimonials></app-testimonials> -->
<!-- <app-footer></app-footer> -->
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"
></script>
