* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .dashboard-wrapper .sidebar {
    background-color: #fff;
    margin-inline: 1rem;
    padding-block: 1rem;
    display: flex;
    min-width: 280px !important;
    flex-direction: column;
    align-items: center;
    min-height: 630px;
    line-height: 4.2rem;
    box-shadow: 5px 5px 30px #f1f1f1;
  
    border: 2px solid #ffffff;
    border-radius: 30px;
  }
  
  .dashboard-wrapper .sidebar .sidebar-logo {
    padding-block: 2rem;
  }
  .dashboard-wrapper .sidebar .sidebar-logo img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
  
  .dashboard-wrapper .sidebar .sidebar-item {
    display: flex;
    align-items: center;
    justify-content: start;
    padding-inline: 1rem;
    width: 90%;
    /* margin-left: 30px; */
  }
  
  .dashboard-wrapper .sidebar .sidebar-item:hover,
  .dashboard-wrapper .sidebar .sidebar-item.active {
    background-color: #f1f1f1;
  }
  
  .dashboard-wrapper .sidebar .sidebar-item a {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #9295a3;
    margin-left: 1rem;
    text-decoration: none;
  }
  
  .dashboard-wrapper .dashboard-content {
    background-color: #fff;
    box-shadow: 5px 5px 30px #f1f1f1;
    /* max-height: 650px; */
    border: 2px solid #ffffff;
    border-radius: 30px;
    max-width: 80%;
  }

  
  