<div class="dashboard ">
    <div class="events-container">
        <div class="row d-flex dates" style="justify-content: space-between;align-items: center;">
            <h6>Tableau des Instructeurs</h6>
            <div class="profile-card">
                <div class="edit-button">
                    <button id="add-button" class="btn button" (click)="openModal()">
                        Ajouter Un Instructeur
                    </button>
                </div>

            </div>
        </div>
    </div>

    <!-------------------------------TAble----------------------------------------------------------------------------------->

    <div class="row d-flex">
        <table mat-table [dataSource]="dataSource">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom Complet </th>
                <td mat-cell *matCellDef="let element"> {{element?.profile?.fullName}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> N.téléphone </th>
                <td mat-cell *matCellDef="let element"> {{element?.profile?.phone}} </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element?.email}} </td>
            </ng-container>

            <!-- action Column -->
            <ng-container matColumnDef="action">
                <th class="px-3" mat-header-cell *matHeaderCellDef> Actions </th>
                <td class="px-3" mat-cell *matCellDef="let element;let i= index;">
                    <button id="niv-button" mat-icon-button class="btn btn-info"
                        (click)="goToInsTructorNiveau(element._id)">
                        Niveaux
                    </button>
                    <button mat-icon-button class="btn btn-info" (click)="editById(element)">
                        <clr-icon shape="pencil"></clr-icon>
                    </button>
                    <button mat-icon-button class="btn btn-outline-danger" (click)="deleteById(element._id,i)">
                        <clr-icon shape="trash" style="color:red!important;"></clr-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-paginator [length]="paginatorOptions.length" [pageSize]="paginatorOptions.pageSize">
    </mat-paginator>
</div>



<!-- ADD Instructor -->

<clr-modal [(clrModalOpen)]="clrModalOpen" [clrModalSize]="'xl'">
    <h3 class="modal-title" *ngIf="modalType == 'add'">Ajouter Un(e) Instructeur(e)</h3>
    <h3 class="modal-title" *ngIf="modalType == 'edit'">Modifier Un(e) Instructeur(e)</h3>
    <div class="modal-body">
        <div>
            <form [formGroup]="form">
                <div class="add-overlay">

                    <!-- column FullName -->
                    <div class="position-top modalRow">
                        <strong class="modalcol3">Nom Complet *</strong>
                        <input matInput class="text-area modalcol" placeholder="fullName" formControlName="fullName"
                            required>
                    </div>

                    <!-- column N.téléphone -->
                    <div class="position-top modalRow">
                        <strong class="modalcol3">N.téléphone *</strong>
                        <input matInput class="text-area modalcol" placeholder="N.téléphone (+216)"
                            formControlName="phone" required>
                    </div>

                    <!-- column Email -->
                    <div class="position-top modalRow">
                        <strong class="modalcol3">Email *</strong>
                        <input matInput type="email" class="text-area modalcol" placeholder="Email"
                            formControlName="email" required>
                    </div>

                    <!-- column Username -->
                    <div class="position-top modalRow">
                        <strong class="modalcol3">Username *</strong>
                        <input matInput class="text-area modalcol" placeholder="Username" formControlName="username"
                            [readOnly]="modalType === 'edit'" required>
                    </div>

                    <!-- column Password -->
                    <div *ngIf="modalType === 'add'" class="position-top modalRow">
                        <strong class="modalcol3">Mot de passe *</strong>
                        <input matInput type="password" class="text-area modalcol" placeholder="Password"
                            formControlName="password" required>
                    </div>

                    <div class="position-top modalRow">
                        <strong class="modalcol3">Gestion Des Medias</strong>
                        <select class="text-area modalcol" formControlName="media">
                            <option [value]="true">Oui</option>
                            <option [value]="false">Non</option>
                        </select>
                    </div>

                    <div class="position-top modalRow">
                        <strong class="modalcol3">Gestion Des Chapitres</strong>
                        <select class="text-area modalcol" formControlName="chapitre">
                            <option [value]="true">Oui</option>
                            <option [value]="false">Non</option>
                        </select>
                    </div>

                    <div class="position-top modalRow">
                        <strong class="modalcol3">Gestion Des Seances</strong>
                        <select class="text-area modalcol" formControlName="seance">
                            <option [value]="true">Oui</option>
                            <option [value]="false">Non</option>
                        </select>
                    </div>

                    <div class="position-top modalRow">
                        <strong class="modalcol3">Gestion Des Exercices</strong>
                        <select class="text-area modalcol" formControlName="homework">
                            <option [value]="true">Oui</option>
                            <option [value]="false">Non</option>
                        </select>
                    </div>


                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-ok btn-outline btn-cancel" (click)="closeModal()">
            Cancel
        </button>
        <button class="btn btn-ok btn-outline" type="submit" [disabled]="form.invalid" (click)="onSubmit()">
            Ok
        </button>
    </div>
</clr-modal>
