<h2 mat-dialog-title>{{ isEditOperation ? "Edit" : "Add" }} Contract Type :</h2>
<div mat-dialog-content>
  <input
    class="text-area"
    type="text"
    placeholder="CDD, CDI, ...."
    [(ngModel)]="contractType.title"
  />
</div>

<div class="dialog-actions" id="dialog-actions">
  <button
    [disabled]="!contractType?.title"
    (click)="createContractType()"
    *ngIf="!isEditOperation"
  >
    Add
  </button>
  <button
    [disabled]="!contractType?.title"
    *ngIf="isEditOperation"
    (click)="editContractType()"
  >
    Edit
  </button>
  <button [mat-dialog-close]="'close'">Close</button>
</div>
