<h2 mat-dialog-title>{{ data['interview']?.title }}</h2>
<mat-dialog-content>
  <h4>Files</h4>
  <strong>{{ data['interview']?.files }}</strong>
  <h4>Tests</h4>
  <div *ngFor="let test of data['interview']?.test">
    Title : <strong>{{ test.title }}</strong> <br />
    Description :<strong>{{ test.description }}</strong><br />
    URL: <strong>{{ test.url }}</strong><br />
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div mat-div [mat-dialog-close]="true">
    <app-button-filled [title]="'close'"></app-button-filled>
  </div>
</mat-dialog-actions>
