<h2 mat-dialog-title>{{ isAdmin?'Edit Interview': interview?.title }}</h2>
<div class="inputs-row">
  <div>
    <label for="">Title</label>
    <input
      type="text"
      class="text-area"
      *ngIf="isAdmin"
      [(ngModel)]="interview.title"
      placeholder="title"
    />
  </div>
  <div>
    <label for="">Stauts</label>
    <select
      [(ngModel)]="interview.status"
      [disabled]="!isAdmin"
      class="text-area"
    >
      <option value="new">New</option>
      <option value="confirmed">Confirmed</option>
      <option value="canceled">Canceled</option>
    </select>
  </div>
</div>
<div class="inputs-row">
  <div>
    <label>Files</label>

    <input
      type="file"
      class="text-area"
      [(ngModel)]="interview.files"
      *ngIf="isAdmin"
    />
  </div>
  <div>
    <label for="">User</label>
    <input
      type="text"
      *ngIf="isAdmin"
      class="text-area"
      disabled
      value="{{interview.user.userRef}}"
    />
  </div>
</div>
<h4>Tests</h4>

<ng-container>
  <div *ngFor="let test of interview?.test">
    <div class="inputs-row">
      <div>
        <label for="">Title</label>
        <input
          [disabled]="!isAdmin"
          class="text-area"
          type="text"
          [(ngModel)]="test.title"
          placeholder="title"
        />
      </div>
      <div>
        <label for="">URL</label>
        <input
          [disabled]="!isAdmin"
          class="text-area"
          type="text"
          [(ngModel)]="test.url"
          placeholder="url"
        />
      </div>
    </div>

    <div style="display: flex; flex-direction: column">
      <label for="">Description</label>
      <textarea
        [disabled]="!isAdmin"
        class="text-area"
        [(ngModel)]="test.description"
        placeholder="description"
      ></textarea>
    </div>
  </div>
</ng-container>

<mat-dialog-actions align="end">
  <div mat-div [mat-dialog-close]="true">
    <button>Close</button>
  </div>
  <div [mat-dialog-close]="'close'">
    <button *ngIf="isAdmin" (click)="updateRecord(interview)">Edit</button>
  </div>
</mat-dialog-actions>
