<!-- <div class="p-2 m-2 d-flex hr-dashboard-wrapper"> -->
<!-- <div class="sidebar">
    <div class="sidebar-logo">
      <img
        src="../../../../assets/img/hero/hero-v5-right-thumbnail.jpg"
        alt=""
      />
    </div>
    <div class="sidebar-item">
      <img src="../../../../assets/icons/132.png" alt="" />
      <a [routerLink]="['./']">Summary</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/161.png" alt="" />
      <a [routerLink]="['profile']">Profile</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/people.png" alt="" />
      <a [routerLink]="['collaborators']">{{
        isAdmin ? "Employees" : "Collaborators"
      }}</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/123.png" alt="" />
      <a [routerLink]="['contracts']">{{
        isAdmin ? "Manage Contracts" : "Contracts"
      }}</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/87.png" alt="" />
      <a [routerLink]="['interviews']">{{
        isAdmin ? "Manage Interviews" : "Interviews"
      }}</a>
    </div>

    <div class="sidebar-item" routerLinkActive="active" *ngIf="!isAdmin">
      <img src="../../../../assets/icons/127.png" alt="" />
      <a [routerLink]="['timetable']">Schedule</a>
    </div>

    <div class="sidebar-item" routerLinkActive="active" *ngIf="!isAdmin">
      <img src="../../../../assets/icons/141.png" alt="" />
      <a [routerLink]="['timesheets']">Timesheets</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active" *ngIf="isAdmin">
      <img src="../../../../assets/icons/141.png" alt="" />
      <a [routerLink]="['timesheetManagement']">Manage Timesheets</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/135.png" alt="" />
      <a [routerLink]="['timeoffs']">{{
        isAdmin ? "Manage TimeOffs" : "TimeOffs"
      }}</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/73.png" alt="" />
      <a (click)="userService.logOut()">Logout</a>
    </div>
  </div> -->
<!--   
  <div class="col-10 dashboard-content">
    <div class="p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>
<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <clr-vertical-nav
        [clrVerticalNavCollapsible]="true"
        class="nav-trigger--bottom"
      >
        <div>
          <img
            src="../assets/eunoia-logo.png"
            id="logo"
            routerLink="./about"
            routerLinkActive="active"
          />
          <p class="title pl-5">HR Management</p>
        </div>
        <ng-container *ngFor="let route of routes">
          <a
            class="navitem"
            clrVerticalNavLink
            [routerLink]="route.link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <clr-icon [attr.shape]="route.icon"></clr-icon>
            <span>{{ route.label }}</span>
          </a>
        </ng-container>

        <a class="navitem" clrVerticalNavLink (click)="logout()">
          <clr-icon shape="power"></clr-icon> <span>Logout</span>
        </a>
      </clr-vertical-nav>
      <div class="route-content">
        <!-- <app-header *ngIf="shouldHeaderShow()"></app-header> -->
        <!-- <app-global-search *ngIf="shouldNavShow()"></app-global-search> -->
        <router-outlet></router-outlet>
        <!-- <app-footer [ngClass]="{ 'home-page-footer': isHomePages() }" *ngIf="shouldFooterShow()"></app-footer> -->
      </div>
    </div>
  </div>
</div>
