<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>
<div class="p-2 m-2 d-flex hr-dashboard-wrapper">
  <div class="sidebar">
    <div class="sidebar-logo">
      <img
        src="../../../../assets/img/hero/hero-v5-right-thumbnail.jpg"
        alt=""
      />
    </div>
    <div class="sidebar-item">
      <img src="../../../../assets/icons/132.png" alt="" />
      <a [routerLink]="['./']">Summary</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/161.png" alt="" />
      <a [routerLink]="['profile']">Profile</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/people.png" alt="" />
      <a [routerLink]="['collaborators']">Collaborators</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/123.png" alt="" />
      <a [routerLink]="['contracts']">Contracts</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/87.png" alt="" />
      <a [routerLink]="['interviews']">Interviews</a>
    </div>
    <!--*ngIf="!isAdmin"-->
    <div class="sidebar-item" routerLinkActive="active" *ngIf="!isAdmin">
      <img src="../../../../assets/icons/127.png" alt="" />
      <a [routerLink]="['timetable']">Schedule</a>
    </div>
    <!-- *ngIf="!isAdmin" -->
    <div class="sidebar-item" routerLinkActive="active" *ngIf="!isAdmin">
      <img src="../../../../assets/icons/141.png" alt="" />
      <a [routerLink]="['timesheets']">Timesheets</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active" *ngIf="isAdmin">
      <img src="../../../../assets/icons/141.png" alt="" />
      <a [routerLink]="['timesheetManagement']">Manage Timesheets</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/135.png" alt="" />
      <a [routerLink]="['timeoffs']">TimeOffs</a>
    </div>
    <div class="sidebar-item" routerLinkActive="active">
      <img src="../../../../assets/icons/73.png" alt="" />
      <a (click)="userService.logOut()">Logout</a>
    </div>
  </div>

  <div class="col-10 dashboard-content">
    <div class="p-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
