/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hr-dashboard-wrapper .sidebar {
  background-color: #fff;
  margin-inline: 1rem;
  padding-block: 1rem;
  display: flex;
  min-width: 280px !important;
  flex-direction: column;
  align-items: center;
  min-height: 630px;
  line-height: 4.2rem;
  box-shadow: 5px 5px 30px #f1f1f1;

  border: 2px solid #ffffff;
  border-radius: 30px;
}

.hr-dashboard-wrapper .sidebar .sidebar-logo {
  padding-block: 2rem;
}
.hr-dashboard-wrapper .sidebar .sidebar-logo img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.hr-dashboard-wrapper .sidebar .sidebar-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-inline: 1rem;
  width: 90%;
  /* margin-left: 30px; */
/* }

.hr-dashboard-wrapper .sidebar .sidebar-item:hover,
.hr-dashboard-wrapper .sidebar .sidebar-item.active {
  background-color: #f1f1f1;
}

.hr-dashboard-wrapper .sidebar .sidebar-item a {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #9295a3;
  margin-left: 1rem;
  text-decoration: none;
}

.hr-dashboard-wrapper .dashboard-content {
  background-color: #fff;
  box-shadow: 5px 5px 30px #f1f1f1;
  /* max-height: 650px; */
/* border: 2px solid #ffffff;
  border-radius: 30px;
  max-width: 80%;
}     */

.main-container .content-area {
  margin-top: 1rem;
  padding: 0;
  display: flex;
}
.content-area {
}

.route-content {
  box-shadow: 5px 5px 30px #f1f1f1;
  border-radius: 30px;
  width: 100%;
  padding: 1rem;
  height: auto;
  margin-left: 10px;
}
.navitem {
  font-weight: 500;
}

.title {
  /* margin: 1rem 0; */
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: revert;
  margin-left: 20px;
  font-size: 1.5rem;
  line-height: initial;
  white-space: nowrap;
  color: var(--green-base);
}

.dashboard {
  padding-left: 2rem;
}

#logo {
  width: 5.8125rem;
  height: 6rem;
  margin-left: 4.1666666667rem;
  margin-bottom: 1.125rem;
  margin-top: 1.125rem;
  cursor: pointer;
}

clr-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  transform: translateY(-1px) translateX(-1px);
}

a {
  margin: 1rem 0;
  cursor: pointer;
  transform: scaleY(1.5);
}

a.active,
a:hover {
  box-shadow: 0px 16px 48px rgba(120, 98, 188, 0.16);
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
  transform: scaleY(1.5);
}

clr-vertical-nav {
  background: #ffffff;
  filter: drop-shadow(0px 8px 24px #eff3f9);
  box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
  border-radius: 0px 20px 20px 0px;
  color: var(--gray70);
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.44px;
  width: 15rem;
}

.home-page-footer {
  position: initial;
}

app-footer {
  /* position: absolute; */
  width: 100%;
  bottom: 0;
}
