<div class="profile-wrapper">
  <div class="profile-header">
    <img
      class="profile-headshot"
      width="150px"
      src="../../../../assets/img/{{ image || 'user-placeholder.png' }}"
    />
    <div class=" ">
      <button (click)="updateuser()" matTooltip="Save Changes">Save</button>
    </div>
  </div>
  <div class=" ">
    <div class=" ">
      <div class=" ">
        <div class="">
          <div class=" ">
            <div class="input-row">
              <label class=" ">Full Name</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="full name"
                value="{{ updateduser.username }}"
                [(ngModel)]="updateduser.username"
              />
            </div>
          </div>
          <div class="">
            <div class="input-row">
              <label class="">Mobile Number</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="enter phone number"
                value="{{ updateduser.phone }}"
                [(ngModel)]="updateduser.phone"
              />
            </div>
            <!-- <div class="input-row">
              <label class="">Address</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="enter address line 1"
                value="{{ updateduser.address }}"
                [(ngModel)]="updateduser.address"
              />
            </div> -->

            <div class="input-row">
              <label class=""> Email</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="enter email"
                value="{{ updateduser.email }}"
                [(ngModel)]="updateduser.email"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="">
        <div class="">
          
          <div
            style="
              display: flex;
              justify-content: space-between;
              margin-top: 1rem;
            "
          >
            <label style="margin-bottom: 1rem">Description</label>
            <textarea
              class="text-area"
              [(ngModel)]="updateduser.description"
              value="{{updateduser.description}}"
              cols="30"
              rows="10"
            ></textarea>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
