.flex-container{
    display: flex;
    
    height: 350px;
    gap: 10px;
    
}

.item1{
  
    width: 550px;
}

.item2{
   
    width: 550px;
}

form{
    border-radius:4px;
    border: 2px solid #ccc
}
label{
    font-size:large
}
.item {
    padding:5px; 
    margin: 0 10px;
}
.flex-item {
    display: flex;
    align-items: stretch;
    margin-top: 45px;
   
  }
  td,
th {
  font-size: 17px;
  padding: 1rem !important;
}
button {
    height: 40px;
    font-size: 17px;
   
}
label{
  width: 8rem;
}

.centerbtn {
    margin: auto;
    width: 10%;
   
    padding: 10px;
  }