<div class="dashboard ">
    <div class="events-container">
      <div class="row d-flex dates" style="justify-content: space-between;align-items: center;">
        <h6>Fee Structure Table</h6>
        
        <div class="profile-card behindbtn">
         
          <button mat-icon-button class="btn btn-trash" (click)="openModal1()">
            restore
           </button>
          <div class="edit-button">
            <button id="add-button" class="btn button" (click)="openModal('add')" >
              Add fee Structure
            </button>
          </div>
  
        </div>
      </div>
      
    </div>
   

    <!-------------------------------TAble----------------------------------------------------------------------------------->

  <div class="row d-flex dates">
    <table mat-table [dataSource]="dataSource">

      
      <!-- name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- program Column -->
      <ng-container matColumnDef="program">
        <th mat-header-cell *matHeaderCellDef> Program </th>
        <td mat-cell *matCellDef="let element">{{element.programname.name}} </td>
      </ng-container>

      <!-- academic year Column -->
      <ng-container matColumnDef="academicyear">
        <th mat-header-cell *matHeaderCellDef> Acadmicyear </th>
        <td mat-cell *matCellDef="let element"> {{element.academicyear.name}} </td>
      </ng-container>
      <!-- academicterm Column -->
      <ng-container matColumnDef="academicterm">
        <th mat-header-cell *matHeaderCellDef> academicterm</th>
        <td mat-cell *matCellDef="let element"> {{element.academicterm.name }} </td>
      </ng-container>

      
   

    

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

       <!-- Amount Column -->
       <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>



    

      
      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th class="px-3" mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="px-3" mat-cell *matCellDef="let element;let i= index;">
          <button mat-icon-button class="btn btn-info" (click)="editById(element)" >
            <clr-icon shape="pencil"></clr-icon>
          </button>

          <button mat-icon-button class="btn btn-outline-danger" (click)="deletefeestructure(element._id)">
            <clr-icon shape="trash" style="color:red!important;"></clr-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

    
</div>    


<!-- ADD Program -->

<clr-modal [(clrModalOpen)]="clrModalOpen" [clrModalSize]="'xl'">

  <ng-container *ngIf="modalType == 'add';else editModalBloc;">
    <h3 class="modal-title">Add fee Structure</h3>
  </ng-container>
  <ng-template #editModalBloc>
    <h3 class="modal-title">Edit fee Structure</h3>
  </ng-template>

  <div class="modal-body">
    <div>
      <form [formGroup]="form" >
        <div class="add-overlay">
          
          <div class="position-top modalRow">
            <strong class="modalcol3">fee structure name:</strong>
            <input matInput class="text-area modalcol" placeholder="name.." formControlName="name" >
          </div>


          <div class="position-top modalRow">
            <strong class="modalcol3">program</strong>
            <select class="text-area modalcol" formControlName="program">
              <option
                *ngFor="let program of programs"
                value="{{program._id}}"
              >
              {{ program.tag }}-{{ program.name }}
              </option>
            </select>
          </div>

          <div class="position-top modalRow">
            <strong class="modalcol3">Acadmicyear</strong>
            <select class="text-area modalcol " formControlName="academicyear" (change)="getallacademicterms()">
              <option
                *ngFor="let academicyear of academicyears"
                value="{{ academicyear._id }}"
              >
                {{ academicyear.name }}
              </option>
            </select>
          </div>

          <div class="position-top modalRow">
            <strong class="modalcol3">Academicterm</strong>
            <select class="text-area modalcol" formControlName="academicterm">
              <option
                *ngFor="let academicterm of academicterms"
                value="{{academicterm._id}}"
              >
                {{ academicterm.name }}
              </option>
            </select>
          </div>

          
          

          <div class="position-top modalRow">
            <strong class="modalcol3">Description</strong>
            <input  matInput class="text-area modalcol" placeholder="description" formControlName="description" >
          </div>

          <div class="position-top modalRow">
            <strong class="modalcol3">Amount totale</strong>
            <input [(ngModel)]="totalamount" type="number" matInput class="text-area modalcol" placeholder="amount" formControlName="amount" >
          </div>
         

        </div>
      </form>

      <div class="column d-flex dates">
        <div class="edit-button" style="float: left">
          <button id="add-button" class="btn button" (click)="addfeecategorytotable()">
            add Fee Category
          </button>
        </div>
        <form [formGroup]="form1" >
          <div class="add-overlay">
  
           
          
  
            <div class="position-top modalRow">
              <strong class="modalcol3">FeeCategory</strong>
              <select class="text-area modalcol" formControlName="feeCategory">
                <option
                  *ngFor="let feeCategory of feeCtaegories"
                  value="{{feeCategory._id}}"
                >
                  {{ feeCategory.name }}
                </option>
              </select>
            </div>
  
           
  
           
  
          </div>
        </form>
        <table mat-table [dataSource]="dataSource1">
          
    
         
    
          <!-- studentgroup Column -->
          <ng-container matColumnDef="feeCategory">
            <th mat-header-cell *matHeaderCellDef>feeCategory</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          

          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element"> <input type="number" (change)="addamount($event,element.feeCategory)" matInput class="text-area modalcol" placeholder="1234.."  ></td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element"> <input (change)="adddescription($event,element.feeCategory)" matInput class="text-area modalcol" placeholder="description.."  ></td>
          </ng-container>
    
    
    
         
          
    
        
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
        </table>
      </div>




    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ok btn-outline btn-cancel" (click)="closeModal()">
      Fermer
    </button>
    <button class="btn btn-ok btn-outline" type="submit" (click)="onSubmit()" >
      Valider
    </button>
  </div>
</clr-modal>




<!-- Trash-->

<clr-modal [(clrModalOpen)]="clrModalOpen1" [clrModalSize]="'xl'">

 
  <ng-template >
    <h3 class="modal-title">Trash</h3>
  </ng-template>

  <div class="modal-body">
    <table mat-table [dataSource]="dataSource3">

     
  <!-- name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- program Column -->
  <ng-container matColumnDef="program">
    <th mat-header-cell *matHeaderCellDef> Program </th>
    <td mat-cell *matCellDef="let element"> {{element.programname.name}} </td>
  </ng-container>

  <!-- academic year Column -->
  <ng-container matColumnDef="academicyear">
    <th mat-header-cell *matHeaderCellDef> Acadmicyear </th>
    <td mat-cell *matCellDef="let element"> {{element.academicyear.name}} </td>
  </ng-container>
  <!-- academicterm Column -->
  <ng-container matColumnDef="academicterm">
    <th mat-header-cell *matHeaderCellDef> academicterm</th>
    <td mat-cell *matCellDef="let element"> {{element.academicterm.name }} </td>
  </ng-container>



      
      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th class="px-3" mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="px-3" mat-cell *matCellDef="let element;let i= index;">

          <button mat-icon-button class="btn btn-outline-danger" (click)="restore(element._id)">
            <clr-icon shape="backup-restore" badge="info" style="color:rgb(0, 85, 255)!important;"></clr-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ok btn-outline btn-cancel" (click)="closeModal1()">
      Fermer
    </button>
   
  </div>
</clr-modal>