.section-search{
  width: 280px;
  min-height: 100px;
  right: 230px;
  border-radius: 3px;
  z-index: 99;
  position: relative;
  top: 30px;
  box-shadow:0px 5px 30px #e9e5e5;
  background-color: rgb(255, 255, 255);

}
.section-search p{

  box-shadow: #5e6366;
  box-sizing: border-box;
  margin-left: 3px;
  padding-inline: 5px;
  
  font-weight: 700;
 
}
.section-search p:hover {
 text-decoration: underline;
}

.behindbtn{
  display: flex;
  flex-direction: row-reverse;
}




.cadre{
 
    height:fit-content(100px);
    border: 0.25px solid #a7a4a4;
    gap: 30px;
  
  }
 
  
  .resize-input{
    gap:20px;
    padding: 20px;
    height:50px;
    box-shadow:  0px 1px  #bdbaba;
  }
  .left{
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 450px;
  }
  .right{
    
    width: 450px;
  }
  /*test*/
  .dashboard {
      padding-left: 2rem;
      height: 100%;
    }
    
    .modalRow{
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
    }
    
    h2 {
      line-height: initial;
      font-size: 2rem;
    }
    
    table {
      width: 100%;
    }
    
    button {
      /* Shadow Dark · 16dp */
      box-shadow: 0px 4px 4px rgba(120, 98, 188, 0.16);
      border-radius: 7px;
      border: 0;
      font-size: 1rem;
      /* width: 5rem; */
      height: 2.5rem;
      /* White Base */
      color: #ffffff;
    }
    
    #add-button{
      /* width: 5rem; */
      background-color: var(--green-base);
    }
    
    .dates {
      /* height: 100%; */
      padding: 0.5rem;
      /* width: calc(100% - 25rem); */
    }
    
    .dates h6 {
      margin-bottom: 2rem;
    }
    
    @media (max-width: 1000px) {
      .dates {
        width: 100%;
      }
    }
    
    .no-event {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25%;
      font-size: 20px;
    
      color: var(--gray40);
    }
    
    .main {
    
      background: rgba(255, 151, 156, 0.9);
      border: 3px solid rgba(255, 151, 156, 0.95);
    
      /* White Base */
      color: #ffffff;
    }
    
    .sub {
      /* Gray · 60% */
      border: 1px solid #919699;
    
      /* Gray · 80% */
      color: #5e6366;
    }
    
    .event {
      margin-top: 1rem;
      padding-left: 1rem;
    
      width: min(100%, 30rem);
      height: 47px;
    
      /* Shadow Dark · 8dp */
      filter: drop-shadow(0px 8px 16px rgba(120, 98, 188, 0.2));
    
      display: flex;
      align-items: center;
    
      border-radius: 13px;
    
    
      /* 16 sp • Subtitle • App */
      font-family:Metropolis;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.1px;
    }
    
    .mid {
      font-size: 0.72rem;
    }
    h6 {
      font-weight: 600;
      font-size: 31.25px;
      line-height: 43px;
      letter-spacing: 0.25px;
      color: var(--green-base);
    }
    
    .edit-container {
      display: flex;
      justify-content: flex-end;
    }
    
    
    
    .names h5 {
      padding-left: 1rem;
    }
    
    .sub-card {
      margin: 1rem;
      padding: 10px;
      width: 40%;
      flex-grow: 2;
      min-height: 3rem;
    }
    
    .heading {
      font-weight: 600;
      font-size: 22px;
      line-height: 30px;
      color: #919699;
      opacity: 0.6;
      margin-bottom: 10px;
    }
    
    .sub-heading {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.15px;
      color: #3e4345;
      margin-left: 10px;
    }
    
    .dashboard {
      padding-left: 2rem;
      padding-right: 2rem;
      margin-bottom: 2rem;
    }
    
    .image {
      min-width: 150px;
      min-height: 150px;
    }
    
    .imageError {
      width: 100%;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
    
    .displayCredit {
      background: #ffffff;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 2rem;
      line-height: 73px;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
      padding: 1rem;
      color: #9ed9d9;
      width: 50%;
      margin-top: 1rem;
    }
    
    .displayCredit h3 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.1px;
      color: #7a7a7a;
    }
    
    .profile-card-body {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    
    .alert {
      font-size: 1rem;
      display: flex;
      align-items: center;
      border-radius: 10px;
      width: 100%;
      margin-right: 2rem;
      padding: 0.5rem 0;
    }
    
    .alert-item {
      display: flex;
      align-items: center;
    }
    
    .alert-icon-wrapper,
    .alert-icon {
      width: 1.5rem;
    }
    
    .alert-icon {
      transform: scale(1.25);
      margin-right: 0.5rem;
    }
    
    .row {
      margin-top: 2rem;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
    }
    
    label {
      white-space: nowrap;
      margin-right: 1rem;
    }
    
    .modal-body h3 {
      margin-bottom: 1rem;
    }
    
    .modal-input {
      display: flex;
      flex-direction: column;
    }
    
    @media (max-width: 1200px) {
      .card {
        flex-direction: column;
      }
    
      .sub-card {
        flex-grow: 1;
      }
    }
    
    .name-container {
      display: flex;
      width: calc(100% - 6rem);
    }
    
    .profile-picture {
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12rem;
      height: 12rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .payment-modal {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    
    .center {
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .item {
      width: 48%;
      height: 100px;
      margin-bottom: 2%;
    }
    
    .full-width {
      width: 100%;
    }
    
    .cc {
      height: 5rem;
    }
    
    .profile-picture clr-icon {
      width: 4rem;
      height: 4rem;
      color: var(--green-base);
    }
    
    clr-icon{
      color: var(--green-base);
    }
    span{
      color: var(--green-base);
    }
    
    .names {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    
    .names h3 {
      margin: 0;
      margin-left: 1rem;
      font-size: 2rem;
      height: max-content;
      font-weight: 300;
      color: var(--gray80);
    }
    
    .names h5 {
      font-size: 1.5rem;
      font-weight: 400;
      color: var(--gray60);
      margin: 0;
    }
    
    .accounts {
      display: flex;
      column-gap: 0.5rem;
    }
    
    .accounts * {
      cursor: pointer;
    }
    
    .icon {
      width: 3.5rem;
      height: 3.5rem;
    }
    
    .disabled {
      cursor: not-allowed !important;
      filter: opacity(50%);
    }
    
    .edit-button {
      display: flex;
      flex-direction: row-reverse;
    }
    
    .edit-button button {
      height: 2rem;
      box-shadow: 0px 4px 12px rgba(120, 98, 188, 0.16);
      border-radius: 7px;
      border: 0;
      font-size: 1rem;
      color: #ffffff;
      background-color: var(--green-base);
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.25rem;
    }
    
    .add-overlay {
      /* White Base */
      background: #ffffff;
      /* Gray · 20% */
      border: 5px solid #f5f7fa;
      box-sizing: border-box;
      /* Shadow Black Dark */
      box-shadow: 0px 8px 24px #eff3f9;
      border-radius: 40px;
      margin-bottom: 1rem;
      padding: 2rem;
      margin-top: 1rem;
    }
    
    .text-area {
      /* Rectangle 1637 */
      width: 80%;
      /* height: 50px; */
    
      /* Gray · 10% */
      background: #fafafa;
      /* Gray · 20% */
      border: 3px solid #f5f7fa;
      border-radius: 11px;
    
      font-size: 1rem;
      font-weight: 300;
    
      padding: 1rem;
    
      /* Gray · 60% */
      color: var(--gray80);
    }
    
    .modalcol {
      width: 50%;
    }
    
    .modalcol3 {
      width: 33%;
    }
    
    .fileUpload {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      padding: 1rem;
    }
    
    .fileUpload h6 {
      margin: 0;
      margin-top: 0.25rem;
      font-size: 1.25rem;
    }
    
    .fileUpload clr-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    
    .fileUpload p {
      margin: 0;
      font-size: 0.75rem;
      color: var(--gray60);
    }
    
    .uploadedImage {
      width: 100%;
      text-align: center;
    }
    
    .h3ok {
      padding: 0rem;
      color: rgb(112, 112, 112);
    }
    
    .error {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      color: rgb(248, 144, 144);
    }
    
    .modal-title {
      margin-top: 1rem;
      font-size: 1.75rem;
      color: var(--green-base);
    }
    
    .modal-body,
    #rating,
    .anon-review,
    .clr-form,
    .clr-control-container,
    .clr-textarea {
      width: 100%;
    }
    
    .position-top {
      display: flex;
      align-items: center;
     
      
    }
    
    strong {
      font-size: large;
    }
    
    .btn-ok {
      background: #ffffff;
      opacity: 0.48;
      border: 1px solid var(--green-base);
      box-shadow: 0px 8px 16px rgba(120, 98, 188, 0.2);
      border-radius: 7px;
      height: 2.5rem;
      font-size: initial;
    }
    
    .btn:hover {
      background: var(--purple-smooth);
    }
    
    .btn-cancel {
      color: red;
    }
    
    .small {
      width: 70%;
    }
   
    /********************/
    .input-column{
        display: flex;
      
        justify-content: flex-start;
        flex-direction: column;

    }