<section class="pricing-area pt-130 pb-95">
  <div class="container" style="text-align: -webkit-center;">
      <div class="row justify-content-center">
          <div class="col">
              <div class="section-title text-center mb-105 section-title-ocean-blue">
                  <h1 class="wow fadeInUp">Choisissez l'offre qui vous adéquat</h1>
              </div>
          </div>
      </div>
      <div class="row">
          <!-- Single Pricing Table -->
          <div class="col-lg-4" *ngFor="let item of plans">
              <div class="pricing-table wow fadeInUp" [ngClass]="item.planclass" data-wow-delay="0ms" data-wow-duration="1500ms">
                  <div class="pricing-plan-title">
                      <div class="pricing-table-icon" [style.background-image]="'url(assets/img/pricing/pricing-table-blob.svg)'" style="display: flex;
                      flex-wrap: wrap;
                      place-content: center;">
                          <h5 class="single-heading-tag" [ngClass]="item.btnstyle">{{item.plantitle}}</h5>
                          <img [src]="item.icon" [alt]="item.plantitle">
                      </div>

                  </div>
                  <div class="pricing-plan-features">
                      <ul>
                          <li class="plan-feature" *ngFor="let list of item.includes">{{list}}</li>
                          <li class="plan-feature plan-feature-disabled" *ngFor="let list of item.excludes">{{list}}</li>
                      </ul>
                  </div>
                  <div class="pricing-table-foot">
                      <div class="plan-select">
                          <a routerLink="/signup" class="filled-btn btn-bordered" [ngClass]="item.btnstyle">Acheter<i class="fas fa-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Single Pricing Table -->
      </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
