h2 {
    line-height: initial;
    font-size: 2rem;
    color: var(--green-base);
    margin-bottom: revert;
    margin-top: 20px;
}

h6 {
    /* width: 1.2rem; */
    margin-left: 10px;
    color: var(--green-base);
}

.voir-plus-text {
    text-align: center;
    color: white;
    cursor: pointer;
}

.voir-plus-modalcol{
    width: 100%;
    background-color:var(--green-base);
    box-shadow: 0px 8px 24px #eff3f9;
    border-radius: 20px;
    display: flex;
    align-items: baseline;
    cursor: pointer;
    /* padding-bottom: 10px; */
    justify-content: center;
}

hr {
    border: grey ;
    border-radius: 5px;
  }

  .other-matieres-modalcol {
    width: auto;
    background-color: white;
    box-shadow: 0px 8px 24px #eff3f9;
    border-radius: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem 0 1rem 0;
    ;
    display: flex;
    align-items: baseline;
    cursor: pointer;
    padding-bottom: 10px;
    margin-right: 2rem;
    /* margin-right: 2rem; */
    /* margin-left: 2rem; */
}

.matieres {
    display: flex;
    flex-wrap: wrap;
    height: 24rem;
    align-items: flex-start;
    justify-content: space-between;
}

.matiere-card:hover, #new-matiere:hover {
    background: var(--gray20);
    cursor: pointer;
    overflow: hidden;
    /* margin-bottom: 20px; */
}

.plus {
    border: 1px solid var(--gray40);
}

.plus clr-icon {
    width: 4rem;
    height: 4rem;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.matiere-image {
    /* border-radius: 10px; */
    border: 0px;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-matiere-image {
    /* border-radius: 10px; */
    border: 0px;
    height: 2rem;
    width: 2rem;
}

p>strong {
    font-size: 1.2rem;
}

p {
    font-size: 1rem;
}

.number{
    font-weight: 600;
    color: var(--green-base);
    font-size: 28px;
}

button {
    border-radius: 5px;
}