<div class="dashboard ">
    <div class="events-container">
      <div class="row d-flex dates" style="justify-content: space-between;align-items: center;">
        <h6>Programs Table</h6>
        <div class="profile-card">
          <div class="edit-button">
            <button id="add-button" class="btn button" (click)="getallprograms()" >
              sync Program
            </button>
          </div>
  
        </div>
      </div>
  
    </div>

    <!-------------------------------TAble----------------------------------------------------------------------------------->

  <div class="row d-flex dates">
    <table mat-table [dataSource]="dataSource">

     

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

    
      <!-- abreviation Column -->
      <ng-container matColumnDef="abreviation">
        <th mat-header-cell *matHeaderCellDef> Designation </th>
        <td mat-cell *matCellDef="let element"> {{element.tag }} </td>
      </ng-container>>

    

      
    

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator
  
  #paginator
  [length]="total"
  [pageIndex]="p"
  [pageSize]="limit"
  [pageSizeOptions]="[3, 14, 21, 28, 42]"
  showFirstLastButtons
  (page)="changePage($event)"
  aria-label="Select page of periodic elements"
>
</mat-paginator>
    
</div>    


<!-- ADD Program -->

<clr-modal [(clrModalOpen)]="clrModalOpen" [clrModalSize]="'xl'">

  <ng-container *ngIf="modalType == 'add';else editModalBloc;">
    <h3 class="modal-title">Add program</h3>
  </ng-container>
  <ng-template #editModalBloc>
    <h3 class="modal-title">Edit program</h3>
  </ng-template>

  <div class="modal-body">
    <div>
      <form [formGroup]="form" >
        <div class="add-overlay">

          <div class="position-top modalRow">
            <strong class="modalcol3">Name</strong>
            <input matInput class="text-area modalcol" placeholder="name" formControlName="name" >
          </div>

          <div class="position-top modalRow">
            <strong class="modalcol3">Departement</strong>
            <input matInput class="text-area modalcol" placeholder="departement" formControlName="departement" >
          </div>

          <div class="position-top modalRow">
            <strong class="modalcol3">Abreviation</strong>
            <input matInput class="text-area modalcol" placeholder="abreviation" formControlName="abreviation" >
          </div>

         

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ok btn-outline btn-cancel" (click)="closeModal()">
      Fermer
    </button>
    <button class="btn btn-ok btn-outline" type="submit" (click)="onSubmit()" >
      Valider
    </button>
  </div>
</clr-modal>