<div class="dashboard">
  <div class="events-container">
    <div
      class="row d-flex dates"
      style="justify-content: space-between; align-items: center"
    >
      <h1>Timeoff Table</h1>

      <div class="profile-card">
        <div class="edit-button" *ngIf="!isAdmin">
          <button
            id="add-button"
            class="btn button"
            (click)="openDialog($event, 'add', undefined)"
          >
            Add Timeoff
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex dates">
    <div
      *ngIf="isLoading"
      style="display: flex; justify-content: center; align-items: center"
    >
      <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
      </mat-progress-spinner>
    </div>
    <table
      mat-table
      [dataSource]="
        timeoffHistory
          | paginate
            : {
                itemsPerPage: limit,
                currentPage: page,
                id: 'timeoffs',
                totalItems: total
              }
      "
      *ngIf="!isLoading"
    >
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.enabled" style="color: green">
            check_circle
          </mat-icon>
          <mat-icon *ngIf="!element.enabled" style="color: rgb(201, 18, 18)"
            >block</mat-icon
          >
        </td>
      </ng-container>
      <!-- user Column -->
      <ng-container matColumnDef="user" *ngIf="isAdmin || isHR">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element">
          {{ element.user.userRef }}
        </td>
      </ng-container>

      <!-- startdate Column -->
      <ng-container matColumnDef="startdate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.startDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="endDate" *ngIf="!isAdmin">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element">
          {{ getEndDate(element.startDate, element.offDays) }}
        </td>
      </ng-container>

      <!-- type Column -->
      <ng-container matColumnDef="offDays" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>Days Off</th>
        <td mat-cell *matCellDef="let element">{{ element.offDays }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>status</th>

        <td mat-cell *matCellDef="let element">
          <span *ngIf="!isHR">{{ element.status }}</span>
          <div *ngIf="isHR">
            <select [(ngModel)]="element.status" class="text-area">
              <option value="Approved">Approved</option>
              <option value="Rejected">Rejected</option>
            </select>
          </div>
        </td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action" *ngIf="shouldDisplay">
        <th class="px-3" mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="px-3" mat-cell *matCellDef="let element; let i = index">
          <button
            mat-icon-button
            class="btn btn-info"
            (click)="
              isAdmin
                ? openDialog($event, 'edit', element?._id)
                : updateStatus(element)
            "
          >
            <clr-icon shape="pencil"></clr-icon>
          </button>

          <button
            *ngIf="isAdmin"
            mat-icon-button
            class="btn btn-outline-danger"
            (click)="deleteRequest(element)"
            matTooltip="Delete"
          >
            <clr-icon shape="trash" style="color: red !important"></clr-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <pagination-controls
      *ngIf="!isLoading"
      (pageChange)="changePage($event)"
      previousLabel="Prev."
      directionLinks="true"
      nextLabel="Next"
      id="timeoffs"
    ></pagination-controls>
  </div>
</div>
