<div class="dashboard ">
    <div class="events-container">
        <div class="row d-flex dates" style="justify-content: space-between;align-items: center;">
            <h6>Nos contacts</h6>
            <div class="profile-card">
                <div class="edit-button">
                    <button id="add-button" class="btn button">
                        <a href="{{'tel:'+ phoneNumber}}" style="color: white;">Appelez-nous</a>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>