<h2 class="mat-dialog-title">Add Details</h2>
<mat-dialog-content>
  <div class="inputs-row">
    <div>
      <input
        class="text-area"
        type="text"
        placeholder="user REF"
        value="{{ newEmployee?.profile.fullname }}"
        [(ngModel)]="newEmployee.profile.fullname"
      />
    </div>
    <div>
      <input
        class="text-area"
        type="text"
        value="{{ newEmployee?.timeOffBalance }}"
        [(ngModel)]="newEmployee.timeOffBalance"
        placeholder="Timeoff Balance"
      />
    </div>
  </div>
  <div class="inputs-row">
    <div>
      <input
        class="text-area"
        type="text"
        placeholder="Email"
        value="{{ newEmployee?.profile?.proEmail }}"
        [(ngModel)]="newEmployee?.profile.proEmail"
      />
    </div>
    <div>
      <input
        class="text-area"
        type="text"
        value="{{ newEmployee?.profile?.phone }}"
        [(ngModel)]="newEmployee?.profile.phone"
        placeholder="phone"
      />
    </div>
  </div>

  <div class="inputs-row">
    <div>
      <input
        class="text-area"
        type="text"
        placeholder="address"
        value="{{ newEmployee?.profile?.address }}"
        [(ngModel)]="newEmployee?.profile.address"
      />
    </div>
    <div>
      <input
        class="text-area"
        type="text"
        value="{{ newEmployee?.profile?.position }}"
        [(ngModel)]="newEmployee?.profile.position"
        placeholder="position"
      />
    </div>
  </div>

  <div class="inputs-row">
    <!-- <div>
      <select class="text-area" [(ngModel)]="newEmployee?.profile.jobType">
        <option selected disabled>Pick Jobtype</option>
        <option value="Full-Time">Full-Time</option>
        <option value="Part-Time">Part-Time</option>
        <option value="Contract">Contract</option>
        <option value="Internship">Internship</option>
      </select>
    </div> -->
    <div>
      <select
        class="text-area"
        [(ngModel)]="newEmployee?.profile.seniorityLevel"
      >
        <option selected="selected" disabled="disabled">Pick level</option>
        <option value="{{ level?.title }}" *ngFor="let level of levels">
          {{ level?.title }}
        </option>
      </select>
    </div>
    <div>
      <select class="text-area" [(ngModel)]="newEmployee?.profile.workFrom">
        <option selected="selected" disabled="disabled">Pick workFrom</option>
        <option value="{{ item?.title }}" *ngFor="let item of workFromItems">
          {{ item?.title }}
        </option>
      </select>
    </div>
  </div>
  <div class="inputs-row">
    <textarea
      class="text-area"
      value="{{ newEmployee?.profile?.description }}"
      [(ngModel)]="newEmployee.profile.description"
      placeholder="Description.."
      cols="30"
      rows="5"
    ></textarea>
    <div>
      <!-- <select [(ngModel)]="newEmployee.userId" class="text-area">
        <option selected disabled>Pick user</option>
        <option value="{{ user?._id }}" *ngFor="let user of data['users']">
          {{ user?.username }}
        </option>
      </select> -->

      <input
        type="text"
        matInput
        class="text-area"
        [formControl]="myControl"
        [matAutocomplete]="auto"
        [(ngModel)]="newEmployee.userId"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn.bind(this)"
      >
        <mat-option
          *ngFor="let user of filteredOptions | async"
          [value]="user._id"
        >
          {{ user.username }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="inputs-row"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="btn-update-file">
    <button mat-button [mat-dialog-close]="true" (click)="addEmployee()">
      Add
    </button>
  </div>
</mat-dialog-actions>
