<h2 class="mat-dialog-title">Add Details</h2>
<mat-dialog-content>
  <div class="inputs-row">
    <div>
      <label>Full Name</label>
      <input
        class="text-area"
        type="text"
        placeholder="user REF"
        value="{{ newEmployee?.profile.fullname }}"
        [(ngModel)]="newEmployee.profile.fullname"
      />
    </div>
    <div>
      <label>TimeOff Balance</label>
      <input
        class="text-area"
        type="text"
        value="{{ newEmployee?.timeOffBalance }}"
        [(ngModel)]="newEmployee.timeOffBalance"
        placeholder="Timeoff Balance"
      />
    </div>
  </div>
  <div class="inputs-row">
    <div>
      <label>Professional Email</label>
      <input
        class="text-area"
        type="text"
        placeholder="Email"
        value="{{ newEmployee?.profile?.proEmail }}"
        [(ngModel)]="newEmployee?.profile.proEmail"
      />
    </div>
    <div>
      <label>Phone</label>
      <input
        class="text-area"
        type="text"
        value="{{ newEmployee?.profile?.phone }}"
        [(ngModel)]="newEmployee?.profile.phone"
        placeholder="phone"
      />
    </div>
  </div>

  <div class="inputs-row">
    <div>
      <label>Address</label>
      <input
        class="text-area"
        type="text"
        placeholder="address"
        value="{{ newEmployee?.profile?.address }}"
        [(ngModel)]="newEmployee?.profile.address"
      />
    </div>
    <div>
      <label>Position</label>
      <input
        class="text-area"
        type="text"
        value="{{ newEmployee?.profile?.position }}"
        [(ngModel)]="newEmployee?.profile.position"
        placeholder="position"
      />
    </div>
  </div>

  <div class="inputs-row">
    <div>
      <label>Seniority Level</label>
      <select
        class="text-area"
        [(ngModel)]="newEmployee?.profile.seniorityLevel"
      >
        <option value="{{ level?.title }}" *ngFor="let level of levels">
          {{ level?.title }}
        </option>
      </select>
    </div>
    <div>
      <label>Work From</label>
      <select class="text-area" [(ngModel)]="newEmployee?.profile.workFrom">
        <option value="{{ item?.title }}" *ngFor="let item of workFromItems">
          {{ item?.title }}
        </option>
      </select>
    </div>
  </div>
  <div class="inputs-row">
    <div>
      <label>Description</label>
      <textarea
        class="text-area"
        value="{{ newEmployee?.profile?.description }}"
        [(ngModel)]="newEmployee.profile.description"
        placeholder="Description.."
        cols="30"
        rows="5"
      ></textarea>
    </div>
    <div>
      <label>User</label>
      <input
        type="text"
        matInput
        class="text-area"
        [formControl]="myControl"
        [matAutocomplete]="auto"
        [(ngModel)]="newEmployee.userId"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn.bind(this)"
      >
        <mat-option
          *ngFor="let user of filteredOptions | async"
          [value]="user._id"
        >
          {{ user.username }}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="inputs-row"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="btn-update-file">
    <button mat-button [mat-dialog-close]="true" (click)="addEmployee()">
      Add
    </button>
  </div>
</mat-dialog-actions>
