<div class="global-nav" [style.display]="shoudNavShow() ? 'flex' : 'none'">
  <button mat-button [matMenuTriggerFor]="belowMenu">{{ solutions }}</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button
      mat-menu-item
      (click)="navigateTo('hr/administration', 'HR Management')"
      [style.display]="shouldButtonHide('ESTUDENT') ? 'none' : 'block'"
    >
      HR Management
    </button>
    <button
      mat-menu-item
      routerLink="lms"
      [style.display]="shouldButtonHide('EHR') ? 'none' : 'block'"
      (click)="navigateTo('lms', 'LMS SYSTEM')"
    >
      LMS SYSTEM
    </button>
    <button
      mat-menu-item
      routerLink="accouting"
      [style.display]="shouldButtonHide('EADMIN') ? 'block' : 'none'"
      (click)="navigateTo('accounting', ' ACCOUNTING SYSTEM')"
    >
      ACCOUNTING SYSTEM
    </button>

    <button
      mat-menu-item
      routerLink="identity"
      [style.display]="shouldButtonHide('EADMIN') ? 'block' : 'none'"
      (click)="navigateTo('identity', 'IDENTITY')"
    >
      IDENTITY
    </button>
    <button
      mat-menu-item
      routerLink="VCDASHBOARD"
      (click)="navigateTo('VCDASHBOARD', 'VCDASHBOARD')"
    >
      VC
    </button>
  </mat-menu>

  <div
    class="notif-bell"
    [style.display]="shouldButtonHide('ESTUDENT') ? 'none' : 'block'"
  >
    <span class="notif-count">{{
      unreadNotifications ? unreadNotifications : 0
    }}</span>
    <button (click)="toggleDropdown()">
      <mat-icon>notifications</mat-icon>
    </button>

    <div
      class="notif-content"
      [style.display]="dropDownActive ? 'block' : 'none'"
    >
      <span *ngIf="!notificationItems || !notificationItems.length"
        >No notifications</span
      >
      <ul *ngIf="notificationItems">
        <li
          *ngFor="let item of notificationItems"
          [ngClass]="!item.isRead ? 'not-read' : ''"
          (click)="toggleIsRead(item)"
        >
          <span [style.display]="item.isRead ? 'none' : 'inline-block'"
            >⚫</span
          >
          {{ item.content }}
          <br />
          <hr />
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
