* {
  padding: 0px;
  margin: 0px;
}

.global-nav {
  background: #ffffff;
  box-shadow: 0px 8px 24px #eff3f9;
  border-radius: 25px;
  padding: 1rem;
  display: flex;
  margin-block: 2rem;
}

.global-nav button {
  border: 1px solid #f1f1f1;
  padding: 0.5rem;
  box-shadow: 0px 8px 24px #c9cfda;
  margin-inline: 10px;
}
.notif-bell {
  margin-left: auto;
  position: relative;
}
.notif-bell .notif-content li {
  padding: 1rem;
}

.notif-bell .notif-content li.not-read {
  background-color: #f1f1f1;
}
.notif-bell .notif-content {
  background-color: #fff;
  padding: 1rem;
  position: absolute;
  right: 0.5rem;
  min-width: 200px;
  top: 60px;
  width: max-content;
  max-width: 500px;
}
.notif-count {
  border-radius: 50%;
  color: white;
  position: absolute;
  background-color: red;
  height: 25px;
  width: 25px;
  text-align: center;
  font-weight: bold;
}
