<div class="global-nav" *ngIf="shoudNavShow()">
  <button mat-button [matMenuTriggerFor]="belowMenu">
    <div>
      <img src="..//assets/img/{{ solutionIcon }}.png" class="menu-item-icon" />
      <span> {{ solutions }}</span>
      <!-- <mat-icon>{{ "expand_more" || "" }}</mat-icon> -->
    </div>
  </button>

  <mat-menu #belowMenu="matMenu" yPosition="below">
    <a
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngFor="let route of routes"
      mat-menu-item
      (click)="navigateTo(route.link, route.label, route.icon)"
    >
      <button>
        <div class="solution-item">
          <img
            *ngIf="route.icon"
            src="..//assets/img/{{ route.icon }}.png"
            class="menu-item-icon"
          />
          {{ route.label }}
        </div>
      </button>
    </a>
  </mat-menu>

  <div class="notif-bell" *ngIf="!shouldButtonHide('ESTUDENT')">
    <span class="notif-count">{{
      unreadNotifications ? unreadNotifications : 0
    }}</span>
    <button (click)="toggleDropdown()">
      <mat-icon>notifications</mat-icon>
    </button>

    <div class="notif-content" *ngIf="dropDownActive">
      <mat-icon (click)="closeDropdown()" style="cursor: pointer"
        >close</mat-icon
      >

      <span *ngIf="!notificationItems || !notificationItems.length"
        >No notifications</span
      >
      <ul *ngIf="notificationItems">
        <li
          *ngFor="let item of notificationItems"
          [ngClass]="!item.isRead ? 'not-read' : ''"
          (click)="toggleIsRead(item)"
        >
          <span *ngIf="!item.isRead">⚫</span>
          {{ item.content }}
          <br />
          <hr />
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
