<div class="global-nav" [style.display]="shoudNavShow() ? 'flex' : 'none'">
  <button
    (click)="navigateTo('hr/administration')"
    [style.display]="shouldButtonHide('ESTUDENT') ? 'none' : 'block'"
  >
    HR Management
  </button>
  <button
    routerLink="lms"
    [style.display]="shouldButtonHide('EHR') ? 'none' : 'block'"
    (click)="navigateTo('lms')"
  >
    LMS SYSTEM
  </button>
  <button
    routerLink="identity"
    [style.display]="shouldButtonHide('EADMIN') ? 'block' : 'none'"
    (click)="navigateTo('identity/dashboard')"
  >
    IDENTITY
  </button>
  <div
    class="notif-bell"
    [style.display]="shouldButtonHide('ESTUDENT') ? 'none' : 'block'"
  >
    <span class="notif-count">{{ unreadNotifications }}</span>
    <button (click)="toggleDropdown()">
      <mat-icon>notifications</mat-icon>
    </button>

    <div
      class="notif-content"
      [style.display]="dropDownActive ? 'block' : 'none'"
    >
      <ul>
        <li
          *ngFor="let item of notificationItems"
          [ngClass]="!item.isRead ? 'not-read' : ''"
          (click)="toggleIsRead(item)"
        >
          <span [style.display]="item.isRead ? 'none' : 'inline-block'"
            >⚫</span
          >
          {{ item.content }}
          <br />
          <hr />
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
