<h2 class="mat-dialog-title">Update Details</h2>
<mat-dialog-content>
  <div class="inputs-row">
    <div>
      <label>Full Name</label>
      <input
        class="text-area"
        type="text"
        placeholder="user REF"
        value="{{ employee?.profile.fullname }}"
        [(ngModel)]="employee.profile.fullname"
      />
    </div>
    <div>
      <label>TimeOff Balance</label>
      <input
        class="text-area"
        type="text"
        value="{{ employee?.timeOffBalance }}"
        [(ngModel)]="employee.timeOffBalance"
        placeholder="Timeoff Balance"
      />
    </div>
  </div>
  <div class="inputs-row">
    <div>
      <label>Professional Email</label>
      <input
        class="text-area"
        type="text"
        placeholder="Email"
        value="{{ employee?.profile?.proEmail }}"
        [(ngModel)]="employee?.profile.proEmail"
      />
    </div>
    <div>
      <label>Phone</label>
      <input
        class="text-area"
        type="text"
        value="{{ employee?.profile?.phone }}"
        [(ngModel)]="employee?.profile.phone"
        placeholder="phone"
      />
    </div>
  </div>

  <div class="inputs-row">
    <div>
      <label>Address</label>
      <input
        class="text-area"
        type="text"
        placeholder="address"
        value="{{ employee?.profile?.address }}"
        [(ngModel)]="employee?.profile.address"
      />
    </div>
    <div>
      <label>Position</label>
      <input
        class="text-area"
        type="text"
        value="{{ employee?.profile?.position }}"
        [(ngModel)]="employee?.profile.position"
        placeholder="position"
      />
    </div>
  </div>

  <div class="inputs-row">
    <div>
      <label>Seniority Level</label>
      <select class="text-area" [(ngModel)]="employee?.profile.seniorityLevel">
        <option value="{{ level?.title }}" *ngFor="let level of levels">
          {{ level?.title }}
        </option>
      </select>
    </div>
    <div>
      <label>Work From</label>
      <select class="text-area" [(ngModel)]="employee?.profile.workFrom">
        <option value="{{ item?.title }}" *ngFor="let item of workFromItems">
          {{ item?.title }}
        </option>
      </select>
    </div>
  </div>
  <div class="inputs-row last">
    <div>
      <label>Description</label>
      <textarea
        class="text-area"
        value="{{ employee?.profile?.description }}"
        [(ngModel)]="employee.profile.description"
        cols="30"
        rows="5"
      ></textarea>
    </div>
  </div>
  <!-- <div class="inputs-row">
</div> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="btn-update-file">
    <button mat-button (click)="updateEmployee(employee)">Update</button>
  </div>
</mat-dialog-actions>
