<h2 class="mat-dialog-title">Update Details</h2>
<mat-dialog-content>
  <div class="inputs-row">
    <div>
      <input
        class="text-area"
        type="text"
        placeholder="user REF"
        value="{{ employee?.profile.fullname }}"
        [(ngModel)]="employee.profile.fullname"
      />
    </div>
    <div>
      <input
        class="text-area"
        type="text"
        value="{{ employee?.timeOffBalance }}"
        [(ngModel)]="employee.timeOffBalance"
        placeholder="Timeoff Balance"
      />
    </div>
  </div>
  <div class="inputs-row">
    <div>
      <input
        class="text-area"
        type="text"
        placeholder="Email"
        value="{{ employee?.profile?.proEmail }}"
        [(ngModel)]="employee?.profile.proEmail"
      />
    </div>
    <div>
      <input
        class="text-area"
        type="text"
        value="{{ employee?.profile?.phone }}"
        [(ngModel)]="employee?.profile.phone"
        placeholder="phone"
      />
    </div>
  </div>

  <div class="inputs-row">
    <div>
      <input
        class="text-area"
        type="text"
        placeholder="address"
        value="{{ employee?.profile?.address }}"
        [(ngModel)]="employee?.profile.address"
      />
    </div>
    <div>
      <input
        class="text-area"
        type="text"
        value="{{ employee?.profile?.position }}"
        [(ngModel)]="employee?.profile.position"
        placeholder="position"
      />
    </div>
  </div>

  <div class="inputs-row">
    <!-- <div>
      <select class="text-area" [(ngModel)]="employee?.profile.jobType">
        <option value="">Pick jobType</option>
        <option value="Full-Time">Full-Time</option>
        <option value="Part-Time">Part-Time</option>
        <option value="Contract">Contract</option>
        <option value="Internship">Internship</option>
      </select>
    </div> -->
    <div>
      <select class="text-area" [(ngModel)]="employee?.profile.seniorityLevel">
        <option selected="selected" disabled="disabled">Pick Level</option>
        <option value="{{ level?.title }}" *ngFor="let level of levels">
          {{ level?.title }}
        </option>
      </select>
    </div>
    <div>
      <select class="text-area" [(ngModel)]="employee?.profile.workFrom">
        <option selected="selected" disabled="disabled">Pick workFrom</option>
        <option value="{{ item?.title }}" *ngFor="let item of workFromItems">
          {{ item?.title }}
        </option>
      </select>
    </div>
  </div>
  <div class="inputs-row last">
    <textarea
      class="text-area"
      value="{{ employee?.profile?.description }}"
      [(ngModel)]="employee.profile.description"
      cols="30"
      rows="5"
    ></textarea>
  </div>
  <!-- <div class="inputs-row">
</div> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="btn-update-file">
    <button
      mat-button
      [mat-dialog-close]="true"
      (click)="updateEmployee(employee)"
    >
      Update
    </button>
  </div>
</mat-dialog-actions>
