<div class="dashboard ">
    <div class="events-container">
      <div class="row d-flex dates" style="justify-content: space-between;align-items: center;">
        <h6>Academic term Table</h6>
        <div class="profile-card">
          <div class="edit-button">
            <button id="add-button" class="btn button" (click)="openModal('add')" >
              Add Academic term
            </button>
          </div>
  
        </div>
      </div>
  
    </div>

    <!-------------------------------TAble----------------------------------------------------------------------------------->

  <div class="row d-flex dates">
    <table mat-table [dataSource]="dataSource"  >

     

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Academic year </th>
        <td mat-cell *matCellDef="let element"> {{element.name }} </td>
      </ng-container>

      <!--Term name Column -->
      <ng-container matColumnDef="termname"  >
        <th mat-header-cell *matHeaderCellDef > Term name </th>
        <td mat-cell  *matCellDef="let element" >{{element.termname}}</td>
        
        
      </ng-container>

        <!-- description  Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> term description </th>
            <td mat-cell *matCellDef="let  element">{{element.description}} </td>
          </ng-container>
     
    

      
      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th class="px-3" mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="px-3" mat-cell *matCellDef="let element;let i= index;">
          <button mat-icon-button class="btn btn-info" (click)="editById(element)" >
            <clr-icon shape="pencil"></clr-icon>
          </button>

          <button mat-icon-button class="btn btn-outline-danger" (click)="delete(element._id)">
            <clr-icon shape="trash" style="color:red!important;"></clr-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

    
</div>    


<!-- ADD academic year -->

<clr-modal [(clrModalOpen)]="clrModalOpen" [clrModalSize]="'xl'">

  <ng-container *ngIf="modalType == 'add';else editModalBloc;">
    <h3 class="modal-title">Add  academic term</h3>
  </ng-container>
  <ng-template #editModalBloc>
    <h3 class="modal-title">Edit academic term</h3>
  </ng-template>

  <div class="modal-body">
    <div>
      <form [formGroup]="form" >
        <div class="add-overlay">

            <div class="position-top modalRow">
                <strong class="modalcol3">academic year</strong>
                <select class="text-area modalcol" formControlName="studentNiveauId" >
                  <option  *ngFor="let acyear of academicyears" value="{{ acyear._id }}">{{acyear.name}}</option>
                 
                </select>
              
              </div>

          <div class="position-top modalRow">
            <strong class="modalcol3">Name</strong>
            <input matInput class="text-area modalcol" placeholder="name" formControlName="name" >
          </div>
         
          <!-- column start date -->
          <div class="position-top">
            <strong class="modalcol3">Description</strong>
            <input matInput  class="text-area modalcol" placeholder="Description... "
              formControlName="description">
          </div>



         

         

        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ok btn-outline btn-cancel" (click)="closeModal()">
      Fermer
    </button>
    <button class="btn btn-ok btn-outline" type="submit" (click)="onSubmit()" >
      Valider
    </button>
  </div>
</clr-modal>