.dashboard {
    padding-left: 2rem;
    height: 100%;
  }
  
h2 {
    line-height: initial;
    font-size: 2rem;
  }
  
  .shift {
    padding: 0 2rem;
  }
  
  .offres {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: 24rem;
    align-items: center;
  }
  
  #new-offre {
    color: var(--gray60);
    background: #ffffff;
    opacity: 0.9;
    border: 0.125rem dashed var(--gray40);
    filter: drop-shadow(0px 2px 4px rgba(120, 98, 188, 0.24));
  }
  
  .offre-card:hover,
  #new-offre:hover {
    background: var(--gray20);
    cursor: pointer;
    overflow: hidden;
  }
  
  .plus {
    border: 1px solid var(--gray40);
  }
  
  .plus clr-icon {
    width: 4rem;
    height: 4rem;
  }
  
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .offre-image {
    border-radius: 10px;
    height: 12rem;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn-primary{
    width: 16rem;
    height: 3rem;
    color: white;
    border: inherit;
    font-size: 20px;
    position: fixed;
    bottom: 20px;
  }
  
  .offre-card {
    min-width: 260px!important;
    text-align: center;
    height: 800px;
    /* width: 14rem; */
    width: 300px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    flex-direction: column;
    background: #ffffff;
    filter: drop-shadow(0px 8px 16px rgba(120, 98, 188, 0.2));
    border-radius: 20px;
    margin-right: 2rem;
    color: rgba(0, 0, 0, 0.87);
  
    font-size: 1.125rem;
  }
  
  #dropoffre {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 10rem;
  }
  
  #dropoffre:hover {
    color: red;
  }
  
  button {
      border-radius: 5px;
  }
  
  
  .delete-modal-container {
      margin-top: 1rem;
  }
  
  .delete-modal-container>ul {
      margin-left: 1rem;
  }