<section class="testimonial-area border-0 bg-white-lilac pt-122 pb-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
          <div class="section-title text-center mb-105 section-title-ocean-blue">
              <h1 class="wow fadeInUp">Nos meilleurs enseignants</h1>
          </div>
      </div>
  </div>
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="testimonial-content-wrapper">
                  <carousel [images]="images" [height]="300"  [overflowCellsLimit]="3"  class="testimonial-slider" id="testimonial-slider-v4">
                      <!-- Data -->






                      <!-- Data -->
                  </carousel>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="square-and-oval-image-wrapper content-left-spacer content-right-spacer">

                  <div class="image-square">
                      <img src="../../../../assets/equipe.jpg"
                          alt="testimonial right image one">
                  </div>
                  <div class="image-oval animate-float-bob-y">
                      <img src="../../../../assets/eunoia-logo.png"
                          alt="testimonial right image two">
                  </div>
              </div>
          </div>
      </div> <!-- /.row -->
  </div> <!-- /.container -->
</section>
