<div class="main-wrapper">
  <div class="list-header">
    <div><h1>Timesheets Management</h1></div>

    <div>
      <mat-icon
        style="
          font-size: 2rem;
          background-color: black;
          color: aliceblue;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          cursor: pointer;
        "
        (click)="openCreateDialog($event)"
        >add</mat-icon
      >
    </div>
  </div>
  <div
    *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
  </div>
  <div class="employees-list" *ngIf="!isLoading">
    <div class="employee-card-header">
      <div>USERNAME</div>
      <div>EMAIL</div>
      <div>Type</div>
      <div style="width: 5%"></div>
    </div>
    <ng-container *ngIf="!users || !users.length"> No users. </ng-container>
    <div
      (click)="viewTimesheets(employee)"
      class="employee-card"
      *ngFor="let employee of users"
    >
      <div>
        <div class="test-info">
          <h5>{{ employee?.username }}</h5>
        </div>
      </div>
      <div class="employee-email">
        {{ employee.email }}
      </div>
      <div class="employee-jobType">
        {{ employee.type }}
      </div>
    </div>
  </div>

  <div class="year-month-list mrg-t-2">
    <h1>Year Months list</h1>
    <div
      *ngIf="isLoading"
      style="display: flex; justify-content: center; align-items: center"
    >
      <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
      </mat-progress-spinner>
    </div>
    <div
      style="background-color: white; padding: 1rem; border-radius: 15px"
      *ngIf="!isLoading"
    >
      <ng-container *ngIf="!yearMonthItems || !yearMonthItems.length">
        No year Month items.
      </ng-container>
      <ul>
        <li *ngFor="let item of yearMonthItems" class="mrg-t-2">
          <div>
            {{ item?.title }}
          </div>
          <div>
            <mat-icon (click)="editYearMonth(item)">edit</mat-icon>
            <mat-icon (click)="deleteYearMonth(item)">delete</mat-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
