<div class="row">
  <div class="col">
    <input
      class="form-control"
      [(ngModel)]="timesheet.note"
      value="{{ timesheet.note }}"
      type="text"
    />
  </div>
  <div class="col">
    <input
      class="form-control"
      [(ngModel)]="timesheet.date"
      value="{{ timesheet.date }}"
      type="datetime-local"
    />
  </div>
  <div class="col">
    <input
      class="form-control"
      [(ngModel)]="timesheet.workingHours"
      value="{{ timesheet.workingHours }}"
      type="number"
      min="1"
      max="12"
    />
  </div>
  <div class="col">
    <select [(ngModel)]="timesheet.userId">
      <option *ngFor="let user of users" value="{{ user._id }}">
        {{ user.username }}
      </option>
    </select>
  </div>
  <div class="col">
    <app-button-outline
      (onClick)="createTimesheet()"
      [title]="'Add'"
    ></app-button-outline>
  </div>
</div>

<table class="table table-stripped">
  <thead>
    <th>User</th>
    <th>Note</th>
    <th>Start</th>
    <th>Working Hours</th>
  </thead>
  <tbody>
    <tr *ngFor="let ts of timesheets">
      <td>
        <select [(ngModel)]="ts.userId">
          <option *ngFor="let user of users" value="{{ user._id }}">
            {{ user.username }}
          </option>
        </select>
      </td>
      <td><input [(ngModel)]="ts.note" value="{{ ts.note }}" type="text" /></td>
      <td>
        <input
          [(ngModel)]="ts.date"
          value="{{ ts.date }}"
          type="datetime-local"
        />
      </td>
      <td>
        <input
          [(ngModel)]="ts.workingHours"
          value="{{ ts.workingHours }}"
          type="number"
        />
      </td>
      <td>
        <app-button-outline
          [title]="'edit'"
          (onClick)="updateRecord(ts)"
        ></app-button-outline>
        <app-button-filled
          [title]="'delete'"
          (onClick)="deleteRecord(ts)"
        ></app-button-filled>
      </td>
    </tr>
  </tbody>
</table>
