<h2 mat-dialog-title>Contract</h2>

<mat-dialog-content>
  <div class="inputs-row">
    <div>
      <label>User</label>
      <input
        type="text"
        matInput
        *ngIf="!isViewOperation"
        class="text-area"
        [formControl]="myControl"
        [matAutocomplete]="auto"
        [(ngModel)]="contract.userId"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn.bind(this)"
      >
        <mat-option
          *ngFor="let user of filteredOptions | async"
          [value]="user._id"
        >
          {{ user.username }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <div>
      <select
        [(ngModel)]="contract.status"
        class="text-area"
        *ngIf="data['dialogOperation'] === 'edit'"
      >
        <option value="active">active</option>
        <option value="inactive">inactive</option>
      </select>
    </div>
  </div>
  <div>
    <div class="inputs-row">
      <div>
        <label>Contract Type</label>
        <select
          [disabled]="isViewOperation"
          class="text-area"
          [(ngModel)]="contract.contractType"
        >
          <option
            value="{{ typeItem?.title }}"
            *ngFor="let typeItem of typeItems"
          >
            {{ typeItem?.title }}
          </option>
        </select>
      </div>

      <div>
        <label>Hours / Week</label>
        <input
          [disabled]="isViewOperation"
          class="text-area"
          type="text"
          value="{{ contract?.hoursNumber }}"
          [(ngModel)]="contract.hoursNumber"
          placeholder="40..."
        />
      </div>
    </div>
    <div class="inputs-row">
      <div [style]="isViewOperation ? 'width: 50%' : ''">
        <label>Start Date</label>

        <input
          *ngIf="!isViewOperation"
          class="text-area"
          [type]="isViewOperation ? 'text' : 'date'"
          placeholder="yyyy-mm-dd"
          [(ngModel)]="contract.startDate"
          value="{{ contract?.startDate }}"
        />
        <div *ngIf="isViewOperation" style="margin-block: 1rem">
          <strong>
            {{ contract?.startDate | date }}
          </strong>
        </div>
      </div>
      <div [style]="isViewOperation ? 'width: 50%' : ''">
        <label>End Date</label>
        <input
          *ngIf="!isViewOperation"
          class="text-area"
          [type]="isViewOperation ? 'text' : 'date'"
          placeholder="yyyy-mm-dd"
          [(ngModel)]="contract.endDate"
          value="{{ contract?.endDate }}"
        />
        <div *ngIf="isViewOperation" style="margin-block: 1rem">
          <strong>
            {{ contract?.endDate | date }}
          </strong>
        </div>
      </div>
    </div>
    <div class="inputs-row">
      <div>
        <label>Timesheet Type</label>
        <select
          [(ngModel)]="contract.timesheetType"
          [disabled]="isViewOperation"
          class="text-area"
        >
          <option value="ADMINISTRATIVE">ADMINISTRATIVE</option>
          <option value="NON ADMINISTRATIVE">NON ADMINISTRATIVE</option>
        </select>
      </div>
    </div>
  </div>
  <div *ngIf="contract['salary']">
    <div>
      <h3>Salary information</h3>
      <div class="inputs-row">
        <div>
          <label>Seniory</label
          ><input
            [disabled]="isViewOperation"
            class="text-area"
            type="number"
            value="{{ contract['salary']?.seniority }}"
            [(ngModel)]="contract['salary'].seniority"
          />
        </div>
        &nbsp; &nbsp; &nbsp; &nbsp;
        <div>
          <label>Annual Componsation</label
          ><input
            [disabled]="isViewOperation"
            class="text-area"
            type="text"
            value="{{ contract['salary']?.annualCompensation?.annual }}"
            [(ngModel)]="contract['salary'].annualCompensation.annual"
          />
        </div>
      </div>
      <div class="inputs-row">
        <div>
          <label>Gross </label
          ><input
            [disabled]="isViewOperation"
            class="text-area"
            type="text"
            value="{{ contract['salary']?.annualCompensation?.gross }}"
            [(ngModel)]="contract['salary'].annualCompensation.gross"
          />
        </div>
        <div>
          <label>Effective</label
          ><input
            [disabled]="isViewOperation"
            class="text-area"
            type="text"
            value="{{ contract['salary']?.annualCompensation?.effective }}"
            [(ngModel)]="contract['salary'].annualCompensation.effective"
          />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!contract['salary']">
    <h3>Salary information</h3>
    <div class="inputs-row">
      <div>
        <label>Seniority</label
        ><input
          [disabled]="isViewOperation"
          class="text-area"
          type="number"
          value="{{ contract.salary?.seniority }}"
          [(ngModel)]="contract.salary.seniority"
        />
      </div>

      <div>
        <label>Annual Componsation</label
        ><input
          [disabled]="isViewOperation"
          class="text-area"
          type="text"
          value="{{ contract.salary?.annualCompensation?.annual }}"
          [(ngModel)]="contract.salary.annualCompensation.annual"
          annual
        />
      </div>
    </div>
    <div class="inputs-row">
      <div>
        <label>Gross</label
        ><input
          [disabled]="isViewOperation"
          class="text-area"
          type="text"
          value="{{ contract.salary?.annualCompensation?.gross }}"
          [(ngModel)]="contract.salary.annualCompensation.gross"
        />
      </div>
      <div>
        <label>Effective</label
        ><input
          [disabled]="isViewOperation"
          class="text-area"
          type="text"
          value="{{ contract.salary?.annualCompensation?.effective }}"
          [(ngModel)]="contract.salary.annualCompensation.effective"
        />
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-button
    *ngIf="data['dialogOperation'] === 'edit'"
    (click)="updateContractWithSalary(contract)"
  >
    Edit
  </button>
  <button
    mat-button
    *ngIf="data['dialogOperation'] === 'add'"
    (click)="addContract(contract)"
  >
    Add
  </button>
  <button mat-button [mat-dialog-close]="'close'">Close</button>
</mat-dialog-actions>
