<div class="dashboard">
  <div class="events-container">
    <div
      class="d-flex dates"
      style="justify-content: space-between; align-items: center"
    >
      <h1>Interviews Table</h1>

      <div class="edit-button" *ngIf="isAdmin">
        <button
          id="add-button"
          class="btn button"
          matTooltip="Add Interview"
          (click)="openCreateDialog($event)"
        >
          Add Interview
        </button>
      </div>
    </div>
  </div>

  <div class="row d-flex dates" style="position: relative">
    <div class="example-loading-shade" *ngIf="isLoading">
      <mat-spinner> </mat-spinner>
    </div>
    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        [(ngModel)]="filterValue"
        (ngModelChange)="searchNotifier.next()"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.enabled" style="color: green">
            check_circle
          </mat-icon>
          <mat-icon *ngIf="!element.enabled" style="color: rgb(201, 18, 18)"
            >block</mat-icon
          >
        </td>
      </ng-container>
      <!-- user Column -->
      <ng-container matColumnDef="user" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>User</th>
        <td mat-cell *matCellDef="let element">
          {{ element.user?.userRef }}
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.date | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <clr-icon
            shape="dot-circle"
            [style.color]="
              element.status === 'confirmed'
                ? 'green'
                : element.status == 'new'
                ? 'gray'
                : 'red'
            "
          ></clr-icon>
          {{ element.status }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th class="px-3" mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="px-3" mat-cell *matCellDef="let element; let i = index">
          <button
            mat-icon-button
            class="btn btn-info"
            [matTooltip]="isAdmin ? 'Edit Interview' : 'View Interview'"
            (click)="openDialog($event, element)"
          >
            <clr-icon *ngIf="isAdmin" shape="pencil"></clr-icon>
            <clr-icon *ngIf="!isAdmin" shape="eye"></clr-icon>
          </button>

          <button
            *ngIf="isAdmin"
            mat-icon-button
            matTooltip="Delete Interview"
            class="btn btn-outline-danger"
            (click)="deleteRecord(element)"
          >
            <clr-icon shape="trash" style="color: red !important"></clr-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      *ngIf="!isLoading"
      #paginator
      [length]="total"
      [pageIndex]="p"
      [pageSize]="limit"
      [pageSizeOptions]="[7, 14, 21, 28, 42]"
      showFirstLastButtons
      (page)="changePage($event)"
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
