<div class="interviews-header">
  <span class="heading">Interviews</span>
  <mat-icon
    (click)="openCreateDialog($event)"
    [style.display]="isAdmin ? 'flex' : 'none'"
    >{{ isOpen ? "remove_circle" : "add_circle" }}</mat-icon
  >
</div>
<div class="interviews-wrapper">
  <div class="candidate" [style.display]="!isAdmin ? 'flex' : 'none'">
    <span>Interviews of candidate: </span> &nbsp; &nbsp;
    <div class="headshot">
      <img src="../../../../assets/img/{{ employeeImgPath }}" />&nbsp;
      <span>{{ currentUser["username"] }}</span>
    </div>
  </div>

  <table class="fl-table">
    <thead>
      <tr>
        <th [style.display]="isAdmin ? 'block' : 'none'">User</th>
        <th scope="col">Date</th>
        <th scope="col">Details</th>
        <th></th>
        <th [style.display]="isAdmin ? 'table-cell' : 'none'"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let interview of interviews">
        <!-- <td [style.display]="isAdmin ? 'block' : 'none'">
          <select [(ngModel)]="interview.userId" [disabled]="!isAdmin">
            <option *ngFor="let user of users" value="{{ user._id }}">
              {{ user.username }}
            </option>
          </select>
        </td> -->
        <td [style.display]="isAdmin ? 'table-cell' : 'none'">
          <span>{{ interview.userId }}</span>
        </td>
        <td>
          <label
            ><img src="../../../../assets/icons/141.png" />&nbsp;
            {{ formatDate(interview?.date) }}</label
          >
          <br /><br />
          <!-- <input
            [style.display]="isAdmin ? 'block' : 'none'"
            type="datetime-local"
            value="{{ formatDate(interview?.date) }}"
            [(ngModel)]="interview.date"
          /> -->
        </td>
        <td>
          <span>
            {{ interview?.title }}
          </span>
          <br /><br />
          <div *ngFor="let test of interview.test">
            Test : <span>{{ test.title }}</span> @ <span>{{ test.url }}</span>
          </div>
        </td>
        <td id="{{ interview._id }}" class="id-saver">
          <mat-icon (click)="openDialog($event)">remove_red_eye</mat-icon>
        </td>
        <td
          [style.display]="isAdmin ? 'table-cell' : 'none'"
          id="{{ interview._id }}"
          class="id-saver"
        >
          <mat-icon (click)="openDialog($event)">edit</mat-icon>

          <mat-icon (click)="deleteRecord(interview)">delete</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <app-json-form [jsonFormData]="formData"></app-json-form> -->
