 
td .mat-icon {
  cursor: pointer;
}
.working-hours {
  width: 50px;
}

.extra-hours {
  padding: 1rem;
  background-color: #fff;
  line-height: 2rem;
  border-radius: 5px;
  filter: drop-shadow(1px 1px 20px #eee);
  /* background-color: #5ecf90;; */
}

.extra-hours span {
  font-size: 15px;
  font-weight: 500;
}

.extra-hours-count {
  border-radius: 50%;
  background-color: #5ecf90;
  color: white; 
  width: 46px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  display: inline-block;
  flex-grow: 1;
  height: 100px;
  width: calc(100% * (1 / 4) - 10px - 1px);
}
.timesheets-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timesheets-header .hours-limit {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(6px 6px 20px #ddd);
}

.timesheets-header .year-month-wrapper {
  width: 60%;
}

.timesheets-header .year-month-wrapper select {
  padding: 10px;
  border: 1px solid #eee;
  width: 10rem;
}

.timesheets-header .year-month-wrapper select:focus {
  outline: unset;
  border: none;
}
.timesheets-header .declaration-btn button {
  height: 2rem;
  filter: drop-shadow(0px 4px 30px #f1f1f1);
  border-radius: 7px;
  border: 0;
  font-size: 1rem;
  color: #ffffff;
  background-color: var(--green-base);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.timesheets-header .declaration-btn button.declared {
  background-color: #ffffff;
  color: var(--green-base);
  border: 1px solid var(--green-base);
}

.timesheets-header .declaration-btn button.approved {
  background-color: #ffffff;
  color: #31d81b;
  border: 1px solid #31d81b;
}

.timesheets-input > .mat-icon {
  visibility: hidden;
}
.timesheets-input:focus > .mat-icon {
  visibility: visible;
}
.year-month-items {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.example-loading-shade {
  position: absolute;
  top: 45px;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(177, 177, 177, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputs-row {
  display: flex;
  justify-content: space-between;
}

.text-area {
  /* Rectangle 1637 */
  width: 300px;
  /* height: 50px; */

  /* Gray 路 10% */
  background: #fafafa;
  /* Gray 路 20% */
  border: 3px solid #f5f7fa;
  border-radius: 11px;

  font-size: 1rem;
  font-weight: 300;

  padding: 1rem;
  margin-bottom: 1rem;
  /* Gray 路 60% */
  color: var(--gray80);
}

select.text-area {
  border: 1px solid #ccc;
} 
.btn-update-file {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.dashboard {
  padding-inline: 2rem;
  height: 100%;
}
 

h2 {
  line-height: initial;
  font-size: 2rem;
}

table {
  width: 100%;
}
.events-container {
  margin-bottom: 1rem;
}
button {
  /* Shadow Dark 路 16dp */
  box-shadow: 0px 4px 4px rgba(120, 98, 188, 0.16);
  border-radius: 7px;
  border: 0;
  font-size: 1rem;
  /* width: 5rem; */
  height: 2.5rem;
  /* White Base */
  background-color: #000;
  color: #ffffff;
}

.edit-button {
  display: flex;
  justify-content: end;
}
