td {
  font-size: 17px;
  padding: 1rem !important;
  /* display: flex;
  align-items: center; */
}
.working-hours {
  width: 50px;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  display: inline-block;
  flex-grow: 1;
  height: 100px;
  width: calc(100% * (1 / 4) - 10px - 1px);
}
