<div class="container-fluid">
  <div class="timesheets-header">
    <div class="hours-limit">{{ totalHours || 0 }} Hours</div>
    <div class="year-month-wrapper">
      <select [(ngModel)]="yearMonth" (change)="getEmployeeTimeSheets()">
        <option value="">Pick a Month</option>
        <option
          value="{{ yearMonth }}"
          *ngIf="!yearMonthItems || !yearMonthItems.length"
        >
          {{ yearMonth }}
        </option>

        <option
          value="{{ item?.title }}"
          *ngFor="let item of yearMonthItems; let i = index"
          selected="{{ i === 0 }}"
        >
          {{ item?.title }}
        </option>
      </select>
    </div>

    <div class="extra-hours">
      <span>Monthly Extra Hours</span>
      <div>{{ monthlyExtraHours }} Hours</div>
    </div>
    <div class="declaration-btn">
      <button
        class="approved"
        *ngIf="isApproved"
        [disabled]="isApproved || isDeclared || ts.isDayOff"
      >
        Approved
      </button>
      <button
        matTooltip="Declare Timesheet"
        *ngIf="!isDeclared && !isApproved"
        (click)="createDeclaration()"
      >
        Declare
      </button>
      <button
        matTooltip="Cancel Declaration"
        class="declared"
        *ngIf="isDeclared && !isApproved"
        (click)="cancelDeclaration()"
      >
        Cancel
      </button>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <th>date</th>
      <th>Note</th>
      <th>working hours</th>
    </thead>
    <tbody>
      <ng-container *ngIf="!timesheets || !timesheets.length">
        No timesheets.
      </ng-container>
      <tr *ngFor="let ts of timesheets">
        <td>
          <label for="{{ ts?._id }}"> {{ formatedDate(ts?.date) }}</label>
        </td>
        <td>
          <input
            [disabled]="isApproved || isDeclared || ts.isDayOff"
            type="text"
            class="form-control timesheet-input"
            value="{{ ts.note }}"
            [(ngModel)]="ts.note"
          />
        </td>
        <td style="display: flex; align-items: center">
          <input
            [disabled]="isApproved || isDeclared || ts.isDayOff"
            class="form-control timesheet-input"
            type="number"
            value="{{ ts.workingHours }}"
            [(ngModel)]="ts.workingHours"
            (change)="checkHours(ts)"
          />
          &nbsp; &nbsp;
          <div class="extra-hours-count">+ {{ ts.extraHours || 0 }}</div>
          <input
            type="text"
            value="{{ ts.extraHours }}"
            [(ngModel)]="ts.extraHours"
            hidden
          />

          <!-- <label for="">{{ extraHours }}</label> -->
        </td>
        <td>
          <mat-icon
            (click)="updateRecord(ts)"
            *ngIf="!isApproved && !isDeclared && !ts.isDayOff"
            >edit
          </mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls
  (pageChange)="changePage($event)"
  previousLabel="Prev."
  nextLabel="Next"
></pagination-controls>
