<div class="">
  <div *ngIf="contractEnded" class="contract-alert">
    <span> Your contract has been ended. Please Contact your manager.</span>
    <mat-icon>error</mat-icon>
  </div>
  <div class="summary-wrapper">
    <div class="hr-card profile">
      <div class="headshot">
        <img
          src="../../../../assets/img/{{
            userFile?.profile.image || 'user-placeholder.png'
          }}"
          alt=""
        />
      </div>
      <div class="info-column">
        <h4>{{ userFile?.userRef || "John Doe" }}</h4>

        <div class="position">
          <mat-icon>business_center</mat-icon> &nbsp;
          {{ userFile?.profile.position || "Super Employee" }}
        </div>
        <div class="address bold-text">
          <mat-icon>location_on</mat-icon> &nbsp;
          {{ userFile?.profile.address || "Mars" }}
        </div>
        <p>
          {{ userFile?.profile.description || "I'm a mysterious individual" }}
        </p>
      </div>
      <div class="info-column">
        <div class="birth line-height-lg">
          <mat-icon>face</mat-icon> &nbsp;
          {{ userFile?.profile?.birthdate || "June, 20th" }}
        </div>

        <div class="email line-height-lg">
          <mat-icon> email</mat-icon> &nbsp;
          {{ userFile?.profile.proEmail || "John@doe.com" }}
        </div>
      </div>
    </div>
    <div class="timeoff-balance">
      <span class="title"> TimeOff Balance</span>
      <div class="hr-card">
        <span>{{ userFile?.timeOffBalance || 0 }}</span>
      </div>
    </div>
  </div>

  <div class="summary-wrapper">
    <div class="contract">
      <h4 class="heading">Active Contract</h4>
      <div *ngIf="contract" class="hr-card">
        <div class="row">
          <div class="col">
            <span class="bold-text"> Contract Type :</span>
          </div>
          <div class="col">
            {{ contract?.contractType }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="bold-text">Hours per Week :</span>
          </div>
          <div class="col">
            {{ contract?.hoursNumber }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="bold-text">Start Date :</span>
          </div>
          <div class="col">
            {{ contract?.startDate | date }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="bold-text">End Date :</span>
          </div>
          <div class="col">
            {{ contract?.endDate | date }}
          </div>
        </div>
      </div>
      <div class="hr-card" *ngIf="!contract">
        <span>No Active Contracts.</span>
      </div>
    </div>
    <div class="interviews">
      <h4 class="heading">Upcoming Interviews</h4>
      <div *ngIf="interviews && interviews.length">
        <div *ngFor="let interview of interviews" class="hr-card">
          <div class="row lh-lg">
            <div class="col-5">
              <span class="bold-text">Interview Date :</span>
            </div>
            <div class="col-7">
              {{ formatDate(interview?.date) }}
            </div>
          </div>
          <div class="row lh-lg">
            <div class="col-5"><span class="bold-text">Title :</span></div>
            <div class="col-7">
              {{ interview?.title }}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!interviews || !interviews.length" class="hr-card">
        No upcoming interviews
      </div>
    </div>
  </div>
</div>
