td,
th {
  font-size: 17px;
  padding: 1rem !important;
}

span.title{
  font-weight: 500; margin-bottom: 15px; font-size: 20px;
  background-color: #fff;
  height: 35px;
  font-size: 17px; 
  display: flex;
  width: 100%;
  padding-block: 1.5rem;
  justify-content: flex-start;
  align-items: center; 
}

span.title::before{
  content: "";
  width: 10px;
  height: 42px; 
  background-color: #b5b5b5;
  margin-right: 5px;
}
 .profile-wrapper span.title {
  width: 99%;
 }
a.visit-all {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-weight: 500;
}
a.visit-all:hover {
  filter: drop-shadow(2px 4px 6px #ccc);
}
.contract-alert {
  height: 65px;
  background-color: red;
  /* margin-inline: 1rem; */
  margin-bottom: 1rem;
  padding: 1.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line-height-lg {
  line-height: 30px;
}

.summary-wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.profile-wrapper{
  width: 75%;
}
.hr-card {
  /* margin-inline: 5px; */
  background-color: #fff;
  /* width: 50%; */
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0px 5px 30px #f1f1f1;
}

.summary-wrapper .hr-card.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 97%; */
  margin-right: 1rem;
}
.summary-wrapper .hr-card.profile .info-column {
  /* width: 43%; */
}

.summary-wrapper .hr-card.profile .address,
.summary-wrapper .hr-card.profile .position,
.summary-wrapper .hr-card.profile .birth,
.summary-wrapper .hr-card.profile .start-date,
.summary-wrapper .hr-card.profile .email {
  display: flex;
  align-items: center;
  margin-block: 5px;
  font-weight: 500;
  font-size: 13px;
}
.summary-wrapper .hr-card.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.summary-wrapper .hr-card .bold-text {
  font-weight: 600;
  line-height: 35px;
}
.summary-wrapper .timeoff-balance {
  width: 25%;
  text-align: center;
}

.summary-wrapper .timeoff-balance span.title {
 
  margin-bottom: 15px;
   
}
.summary-wrapper .timeoff-balance .hr-card span {
  font-size: 15px;
  font-weight: normal;
  line-height: 3.5rem;
  width: 200px;  font-weight: 500;
}

.summary-wrapper .interviews {
  width: 35%;
}
.summary-wrapper .contract {
  width: 35%;
}
.summary-wrapper .extrahours {
  width:25%;
}
.hours-value{
  display: flex;
  flex-direction: column;

}
 
.hours-value span:last-child{
  color: #b7b7b7;
  font-weight: 500;
}

 
.hours-value span:first-child{
  font-weight: 500;
  font-size: 17px;
}