<div class="user-tsheets-header">
  <mat-icon (click)="goBack()" style="cursor: pointer; font-size: 3rem"
    >chevron_left</mat-icon
  >
  <div class="year-month-items">
    <span>Months &nbsp; &nbsp; </span>
    <select [(ngModel)]="yearMonth" (change)="getAllTimesheets()">
      <option value="">Pick a Month</option>

      <option value="{{ item?.title }}" *ngFor="let item of yearMonthItems">
        {{ item?.title }}
      </option>
    </select>
  </div>
</div>

<table class="table table-stripped">
  <thead>
    <th>Note</th>
    <th>Start</th>
    <th>Working Hours</th>
    <th></th>
  </thead>
  <tbody>
    <ng-container *ngIf="!timesheets || !timesheets.length">
      No timesheets.
    </ng-container>
    <tr
      *ngFor="
        let ts of timesheets
          | paginate: { itemsPerPage: limit, currentPage: p, totalItems: total }
      "
    >
      <td>
        <span>{{ ts.note || "Not filled by User" }}</span>
        <!-- <input [(ngModel)]="ts.note" value="{{ ts.note }}" type="text" /> -->
      </td>
      <td>
        <label style="margin-bottom: 5px; color: #ccc">{{ ts?.date }}</label>
        <br />
        <input
          [(ngModel)]="ts.date"
          value="{{ ts.date }}"
          type="datetime-local"
        />
      </td>
      <td>
        <input
          [(ngModel)]="ts.workingHours"
          value="{{ ts.workingHours }}"
          type="number"
        />
      </td>
      <td>
        <mat-icon (click)="updateRecord(ts)">edit</mat-icon>
        <mat-icon (click)="deleteRecord(ts)">delete</mat-icon>
      </td>
    </tr>
  </tbody>
</table>
<pagination-controls
  (pageChange)="changePage($event)"
  previousLabel="Prev."
  nextLabel="Next"
></pagination-controls>
