<h2 mat-dialog-title>
  {{ isEditOperation ? "Edit" : "Add" }} Year Month Item (YYYY-MM) :
</h2>
<div mat-dialog-content *ngIf="!isEditOperation">
  <input
    class="text-area"
    *ngIf="!isEditOperation"
    type="text"
    placeholder="yyyy-mm"
    [(ngModel)]="newYearMonthItem.title"
  />
</div>
<div mat-dialog-content *ngIf="isEditOperation">
  <input
    class="text-area"
    type="text"
    placeholder="yyyy-mm"
    [(ngModel)]="yearMonthItem.title"
  />
</div>
<div class="dialog-actions" id="dialog-actions">
  <button
    [disabled]="!newYearMonthItem?.title"
    (click)="createYearMonthItem()"
    *ngIf="!isEditOperation"
  >
    Add
  </button>
  <button *ngIf="isEditOperation" (click)="editYearMonth()">Edit</button>
  <button [mat-dialog-close]="'close'">Close</button>
</div>
