<div class="profile-wrapper">
  <div class="profile-header">
    <img
      class="profile-headshot"
      width="150px"
      src="../../../../assets/img/{{
        userFile?.profile?.image || 'user-placeholder.png'
      }}"
    />
    <div class=" ">
      <button (click)="updateEmployee(userFile)">Save</button>
    </div>
  </div>
  <div class=" ">
    <div class=" ">
      <div class=" ">
        <div class="">
          <div class=" ">
            <div class="input-row">
              <label class=" ">Full Name</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="full name"
                value="{{ userFile?.userRef }}"
                [(ngModel)]="userFile.userRef"
              />
            </div>
          </div>
          <div class="">
            <div class="input-row">
              <label class="">Mobile Number</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="enter phone number"
                value="{{ userFile?.profile.phone }}"
                [(ngModel)]="userFile?.profile.phone"
              />
            </div>
            <div class="input-row">
              <label class="">Address</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="enter address line 1"
                value="{{ userFile?.profile.address }}"
                [(ngModel)]="userFile?.profile.address"
              />
            </div>

            <div class="input-row">
              <label class="">Professional Email</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="enter email id"
                value="{{ userFile?.profile.proEmail }}"
                [(ngModel)]="userFile?.profile.proEmail"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="">
          <div [class]="!isDisabled ? 'inputs-row' : 'labels-row'">
            <label class="">Level</label
            ><input
              matInput
              class="text-area"
              type="text"
              *ngIf="!isDisabled"
              value="{{ userFile?.profile.seniorityLevel }}"
            />
            <label style="width: 2vw" *ngIf="isDisabled">
              {{ userFile?.profile.seniorityLevel }}
            </label>
          </div>
          <div [class]="!isDisabled ? 'inputs-row' : 'labels-row'">
            <label class="">Job Type</label
            ><input
              matInput
              class="text-area"
              type="text"
              *ngIf="!isDisabled"
              placeholder="additional details"
              value="{{ userFile?.profile.jobType }}"
            />
            <label style="width: 2vw" *ngIf="isDisabled">{{
              userFile?.profile.jobType
            }}</label>
          </div>

          <div [class]="!isDisabled ? 'inputs-row' : 'labels-row'">
            <label class="">Work From</label
            ><input
              matInput
              class="text-area"
              type="text"
              *ngIf="!isDisabled"
              placeholder="additional details"
              value="{{ userFile?.profile.workFrom }}"
            />
            <label style="width: 2vw" *ngIf="isDisabled">{{
              userFile?.profile.jobType
            }}</label>
          </div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              margin-top: 1rem;
            "
          >
            <label style="margin-bottom: 1rem">Description</label>
            <textarea
              class="text-area"
              [(ngModel)]="userFile.profile.description"
              value="{{ userFile?.profile.description }}"
              cols="30"
              rows="10"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
