<div class="profile-wrapper">
  <div class="profile-header">
    <img
      class="profile-headshot"
      width="150px"
      src="../../../../assets/img/{{
        userFile?.profile?.image || 'user-placeholder.png'
      }}"
    />
    <div class=" ">
      <button (click)="updateEmployee(userFile)" matTooltip="Save Changes">
        Save
      </button>
    </div>
  </div>
  <div class=" ">
    <div class=" ">
      <div class=" ">
        <div class="">
          <div class=" ">
            <div class="input-row">
              <label class=" ">Full Name</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="full name"
                value="{{ userFile?.profile.fullname }}"
                [(ngModel)]="userFile.profile.fullname"
              />
            </div>
          </div>
          <div class="">
            <div class="input-row">
              <label class="">Mobile Number</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="enter phone number"
                value="{{ userFile?.profile.phone }}"
                [(ngModel)]="userFile?.profile.phone"
              />
            </div>
            <div class="input-row">
              <label class="">Address</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="enter address line 1"
                value="{{ userFile?.profile.address }}"
                [(ngModel)]="userFile?.profile.address"
              />
            </div>

            <div class="input-row">
              <label class="">Professional Email</label
              ><input
                matInput
                class="text-area"
                type="text"
                placeholder="enter email id"
                value="{{ userFile?.profile.proEmail }}"
                [(ngModel)]="userFile?.profile.proEmail"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <div class="">
          <div [class]="!isDisabled ? 'input-row' : 'labels-row'">
            <label class="">Level</label>
            <select
              class="text-area"
              *ngIf="!isDisabled"
              [(ngModel)]="userFile?.profile.seniorityLevel"
            >
              <option selected="selected" disabled="disabled">
                Pick level
              </option>
              <option value="{{ level?.title }}" *ngFor="let level of levels">
                {{ level?.title }}
              </option>
            </select>
            <label style="width: 2vw" *ngIf="isDisabled">
              {{ userFile?.profile.seniorityLevel }}
            </label>
          </div>

          <div [class]="!isDisabled ? 'input-row' : 'labels-row'">
            <label class="">Work From</label>
            <select
              class="text-area"
              [(ngModel)]="userFile?.profile.workFrom"
              *ngIf="!isDisabled"
            >
              <option selected="selected" disabled="disabled">
                Pick workFrom
              </option>
              <option
                value="{{ item?.title }}"
                *ngFor="let item of workFromItems"
              >
                {{ item?.title }}
              </option>
            </select>
            <label style="width: 2vw" *ngIf="isDisabled">{{
              userFile?.profile.workFrom
            }}</label>
          </div>
          <div
            style="
              display: flex;
              justify-content: space-between;
              margin-top: 1rem;
            "
          >
            <label style="margin-bottom: 1rem">Description</label>
            <textarea
              class="text-area"
              [(ngModel)]="userFile.profile.description"
              value="{{ userFile?.profile.description }}"
              cols="30"
              rows="10"
            ></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
