<div class="main-wrapper">
  <div class="btn-add-employee">
    <button>Add employee</button>
  </div>
  <div class="employees-list">
    <div class="employee-card-header">
      <div>EMPLOYEE</div>
      <div>EMAIL</div>
      <div>JOB TYPE</div>
      <div>ADDRESS</div>
      <div>MANAGE</div>
    </div>
    <div class="employee-card" *ngFor="let employee of employees">
      <div class="employee-basic">
        <div>
          <img
            src="../../../../assets/img/{{ employee.profile.image }}"
            alt=""
          />
        </div>
        <div class="test-info">
          <h5>{{ employee.userRef }}</h5>
          <span>{{ employee.profile.position }}</span>
        </div>
      </div>
      <div class="employee-email">
        {{ employee.profile.proEmail }}
      </div>
      <div class="employee-jobType">
        {{ employee.profile.jobType }}
      </div>
      <div class="employee-address">
        {{ employee.profile.address }}
      </div>
      <div class="manage-actions">
        <mat-icon id="{{ employee?._id }}" (click)="openDialog($event)"
          >edit</mat-icon
        >
        <div class="vertical-row"></div>
        <mat-icon (click)="deleteEmployee(employee?._id)">delete</mat-icon>
      </div>
    </div>
  </div>
</div>
