<div class="main-wrapper">
  <div class="btn-add-employee">
    <!-- <mat-icon (click)="setViewType('table')">calendar_view_day</mat-icon>
    <mat-icon (click)="setViewType('card')">dashboard</mat-icon> -->
    <button (click)="openCreateDialog($event)">Add employee</button>
  </div>

  <!-- Card View  -->
  <!--  <div class="employees-list" *ngIf="viewType === 'card'">
    <div class="employee-card-header">
      <div>EMPLOYEE</div>
      <div>EMAIL</div>
      <div>JOB TYPE</div>
      <div>ADDRESS</div>
      <div>MANAGE</div>
    </div>
    <ng-container *ngIf="!employees || !employees.length">
      No employees.
    </ng-container>

    <div class="employee-card" *ngFor="let employee of employees">
      <div class="employee-basic">
        <div>
          <img
            src="../../../../assets/img/{{ employee.profile.image }}"
            alt=""
          />
        </div>
        <div class="test-info">
          <h5>{{ employee.userRef }}</h5>
          <span>{{ employee.profile.position }}</span>
        </div>
      </div>
      <div class="employee-email">
        {{ employee.profile.proEmail }}
      </div>
      <div class="employee-jobType">
        {{ employee.profile.jobType }}
      </div>
      <div class="employee-address">
        {{ employee.profile.address }}
      </div>
      <div class="manage-actions">
        <mat-icon id="{{ employee?._id }}" (click)="openUpdateDialog($event)"
          >edit</mat-icon
        >
        <div class="vertical-row"></div>
        <mat-icon (click)="deleteEmployee(employee?._id)">delete</mat-icon>
      </div>
    </div>
  </div>
</div> -->

  <!-- Table view -->

  <div class="dashboard" *ngIf="viewType === 'table'">
    <div class="row d-flex dates">
      <div
        *ngIf="isLoading"
        style="display: flex; justify-content: center; align-items: center"
      >
        <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
        </mat-progress-spinner>
      </div>

      <table mat-table [dataSource]="employees" *ngIf="!isLoading">
        <ng-container matColumnDef="#">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element.enabled" style="color: green">
              check_circle
            </mat-icon>
            <mat-icon *ngIf="!element.enabled" style="color: rgb(201, 18, 18)"
              >block</mat-icon
            >
          </td>
        </ng-container>
        <!-- user Column -->
        <ng-container matColumnDef="EMPLOYEE">
          <th mat-header-cell *matHeaderCellDef>EMPLOYEE</th>
          <td mat-cell *matCellDef="let element">
            <div class="employee-basic-table">
              <div>
                <img
                  src="../../../../assets/img/{{
                    element?.profile?.image || 'user-placeholder.png'
                  }}"
                  alt=""
                />
              </div>
              <div class="test-info">
                <h4>{{ element?.userRef }}</h4>
                <em>{{ element?.profile?.position }}</em>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- startdate Column -->
        <ng-container matColumnDef="EMAIL">
          <th mat-header-cell *matHeaderCellDef>EMAIL</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.profile?.proEmail }}
          </td>
        </ng-container>

        <!-- type Column -->
        <ng-container matColumnDef="JOB-TYPE">
          <th mat-header-cell *matHeaderCellDef>JOB TYPE</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.profile?.jobType }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ADDRESS">
          <th mat-header-cell *matHeaderCellDef>ADDRESS</th>
          <td mat-cell *matCellDef="let element">
            {{ element?.profile?.address }}
          </td>
        </ng-container>

        <!-- action Column -->
        <ng-container matColumnDef="ACTIONS">
          <th class="px-3" mat-header-cell *matHeaderCellDef>Actions</th>
          <td class="px-3" mat-cell *matCellDef="let element; let i = index">
            <button
              mat-icon-button
              class="btn btn-info"
              (click)="openUpdateDialog($event, element?._id)"
            >
              <clr-icon shape="pencil"></clr-icon>
            </button>

            <button
              mat-icon-button
              class="btn btn-outline-danger"
              (click)="deleteEmployee(element?._id)"
            >
              <clr-icon shape="trash" style="color: red !important"></clr-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
