<div class="dashboard">
  <div class="events-container">
    <div
      class="row d-flex dates"
      style="justify-content: space-between; align-items: center"
    >
      <h6>Fee schedule </h6>

      <div class="profile-card behindbtn">
         
        <button mat-icon-button class="btn btn-outline-danger" (click)="openModal1()">
          <clr-icon shape="backup-restore" style="color:rgb(5, 146, 52)!important;"></clr-icon>
        </button>
        <div class="edit-button" style="float: left">
          <button
            id="add-button"
            class="btn button"
            type="submit"
            (click)="openModal2()"
          >
            Add fee schedule
          </button>
        </div>
      </div>
    </div>
    
  </div>
  <!-------------------------------TAble----------------------------------------------------------------------------------->


  <div class="row d-flex dates">
    <table mat-table [dataSource]="dataSource1">

      

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Fee structure Name </th>
        <td mat-cell *matCellDef="let element"> {{element.feestructname.name}} </td>
      </ng-container>

       <!-- Program Column -->
       <ng-container matColumnDef="duedate">
        <th mat-header-cell *matHeaderCellDef> Due date </th>
        <td mat-cell *matCellDef="let element"> {{element.dueDate  | date:'shortDate'}} </td>
      </ng-container>

       


    

      
      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th class="px-3" mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="px-3" mat-cell *matCellDef="let element;let i= index;">
          <button mat-icon-button class="btn btn-info" (click)="editById(element)" >
            <clr-icon shape="pencil"></clr-icon>
          </button>

          <button mat-icon-button class="btn btn-outline-danger" (click)="deletefeeschedule(element._id)">
            <clr-icon shape="trash" style="color:red!important;"></clr-icon>
          </button>
        
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
  </div>

    
</div>    



  



<!-- pop up add fee shcedule -->


<clr-modal class="zindex2" [(clrModalOpen)]="clrModalOpen2" [clrModalSize]="'xl'">

  <ng-container >
    <h3 class="modal-title">Add Group student</h3>
  </ng-container>
  

  <div class="modal-body">
    <div>
      <form [formGroup]="form" >
        <div class="add-overlay">
          
          <div class="position-top modalRow">
            <strong class="modalcol3">Fee Structure:</strong>
            <select  #feestructure class="text-area modalcol " formControlName="feestructure" >
              <option
                *ngFor="let feeStructre of  feeStructures"
                value="{{feeStructre._id}}"
                
              >
                {{ feeStructre.name }}
              </option>
            </select>
          </div>


          <div class="position-top modalRow">
            <strong class="modalcol3">Due Date:</strong>
            <input
              matInput
              class="text-area modalcol"
              placeholder="Due date"
              type="date"
              formControlName="duedate"
            />
          </div>

         

          

        </div>
      </form>
      <div class="column d-flex dates">
        <div class="edit-button" style="float: left">
          <button id="add-button" class="btn button" (click)="addstudentgrouptotable()">
            add student group
          </button>
        </div>
        <form [formGroup]="form1" >
          <div class="add-overlay">
  
           
            <div class="position-top modalRow">
              <strong class="modalcol3">Student group</strong>
              <select  #feestructure class="text-area modalcol " formControlName="studentgroup" >
                <option
                  *ngFor="let studentgroup of  studentgroups"
                  value="{{studentgroup.name}}"
                  
                >
                  {{ studentgroup.name}}
                </option>
              </select>
             
            </div>
  
            <div class="position-top modalRow">
              <strong class="modalcol3">Totale student</strong>
              <input matInput class="text-area modalcol" placeholder="totalestudent.." formControlName="totalestudent" >
            </div>
  
           
  
           
  
          </div>
        </form>
        <table mat-table [dataSource]="dataSource">
          
    
         
    
          <!-- studentgroup Column -->
          <ng-container matColumnDef="studentgroup">
            <th mat-header-cell *matHeaderCellDef>student group</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
    
          <!-- totale student Column -->
          <ng-container matColumnDef="totalestudent">
            <th mat-header-cell *matHeaderCellDef>totale student</th>
            <td mat-cell *matCellDef="let element">{{ element.numtot }}</td>
          </ng-container>
          
    
        
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  
 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ok btn-outline btn-cancel" (click)="closeModal2()">
      Fermer
    </button>
    <button class="btn btn-ok btn-outline" type="submit" (click)="savefeeshcedule()" >
      Valider
    </button>
  </div>
</clr-modal>





<!-- pop up edit -->



<clr-modal [(clrModalOpen)]="clrModalOpenEdit" [clrModalSize]="'xl'">
  
  <ng-template >
    <h3 class="modal-title">Edit Student</h3>
  </ng-template>

  <div class="modal-body">
    <div>
      <form [formGroup]="form" >
        <div class="add-overlay">
          
          <div class="position-top modalRow">
            <strong class="modalcol3">Fee Structure:</strong>
            <select  #feestructure class="text-area modalcol " formControlName="feestructure" >
              <option
                *ngFor="let feeStructre of  feeStructures"
                value="{{feeStructre._id}}"
                
              >
                {{ feeStructre.name }}
              </option>
            </select>
          </div>


          <div class="position-top modalRow">
            <strong class="modalcol3">Due Date:</strong>
            <input
              matInput
              class="text-area modalcol"
              placeholder="Due date"
              type="date"
              formControlName="duedate"
            />
          </div>

         

          

        </div>
      </form>
    </div>
    
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-ok btn-outline btn-cancel"
      (click)="closeModaledit()"
    >
      Fermer
    </button>
    <button class="btn btn-ok btn-outline" type="submit" (click)="editfeeschedule()" >
      Valider
    </button>
    
  </div>
</clr-modal>



<!-- Trash-->

<clr-modal [(clrModalOpen)]="clrModalOpen1" [clrModalSize]="'xl'">

 
  <ng-template >
    <h3 class="modal-title">Trash</h3>
  </ng-template>

  <div class="modal-body">
    <table mat-table [dataSource]="dataSource3">

     
   <!-- Name Column -->
   <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Fee structure Name </th>
    <td mat-cell *matCellDef="let element"> {{element.feestructname.name}} </td>
  </ng-container>

   <!-- Program Column -->
   <ng-container matColumnDef="duedate">
    <th mat-header-cell *matHeaderCellDef> Due date </th>
    <td mat-cell *matCellDef="let element"> {{element.dueDate  | date:'shortDate'}} </td>
  </ng-container>

   




      
      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th class="px-3" mat-header-cell *matHeaderCellDef> Actions </th>
        <td class="px-3" mat-cell *matCellDef="let element;let i= index;">

          <button mat-icon-button class="btn btn-outline-danger" (click)="restore(element._id)">
            <clr-icon shape="backup-restore" badge="info" style="color:rgb(0, 85, 255)!important;"></clr-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-ok btn-outline btn-cancel" (click)="closeModal1()">
      Fermer
    </button>

  </div>
</clr-modal>


