<h2>Generate Monthmy Timesheets</h2>
<div>
  <input
    type="text"
    matInput
    class="text-area"
    [formControl]="myControl"
    [matAutocomplete]="auto"
    [(ngModel)]="userId"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn.bind(this)"
  >
    <mat-option *ngFor="let user of filteredOptions | async" [value]="user._id">
      {{ user.username }}
    </mat-option>
  </mat-autocomplete>
</div>
<div class="dialog-actions" id="dialog-actions">
  <button [disabled]="!userId" (click)="generateTimesheets()">Add</button>

  <button [mat-dialog-close]="'close'">Close</button>
</div>
