<button (click)="openDialog(addSeance,'')" id="123">add new meet</button>
<button (click)="openMainModal(listSeances)" id="123">edit</button>
<ng-template #addSeance> 
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Seance name</mat-label>
    <input matInput placeholder="Name" value="Sushi" [(ngModel)]="seance.name">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Link</mat-label>
    <input matInput placeholder="azeaz" value="Sushi" [(ngModel)]="seance.url">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description"  [(ngModel)]="seance.description">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Start date</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="seance.startDate">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>end Date</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="seance.endDate">
  </mat-form-field><br>
    <button (click)="addNewseance()">Yes</button>
    <button (click)="closeModal()">No</button>
</ng-template>

<ng-template #editSeance> 
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Seance name</mat-label>
    <input matInput placeholder="Name" value="Sushi" [(ngModel)]="oneSeance.name">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Link</mat-label>
    <input matInput placeholder="azeaz" value="Sushi" [(ngModel)]="oneSeance.url">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput placeholder="Description"  [(ngModel)]="oneSeance.description">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Start date</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="oneSeance.startDate">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>end Date</mat-label>
    <input matInput type="datetime-local" [(ngModel)]="oneSeance.endDate">
  </mat-form-field><br>
    <button (click)="updateSeance()">Yes</button>
    <button (click)="closeModal()">No</button>
</ng-template>

<!-- delete template  -->
<ng-template #deleteTemp> 
  <img src="../../../../assets/img/danger.png" class="danger"alt="">
    <h3>
      are you sure you want to delete ?
    </h3>
    <button (click)="deleteSeance()">Yes</button>
    <button (click)="closeModal()">No</button>
</ng-template>




<button (click)="openDialog(addSeance,'')" id="123">add new meet</button>
<ng-template #listSeances> 
  <div class="search__container">
    <input class="search__input" type="text" placeholder="Search" [(ngModel)]="filter">
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th></th>  
          <th>Course</th>
          <th>Class</th>
          <th>subject</th>
          <th>Link</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody *ngFor="let seance of seances|filter:filter">
        <tr >
          <td>{{seance.name}}</td>
          <td>{{seance.description}}</td>
          <td>{{seance.url}}</td>
          <td>{{seance.startDate}}</td>
          <td>{{seance.endDate}}</td>
          <td><i role="button" class="fa fa-trash" (click)="openDialog(deleteTemp,seance._id)"></i></td>
          <td><i role="button" class="fa fa-edit" (click)="openDialog(editSeance,seance._id)"></i></td>
          
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<div class="calendar">
  <!-- <div class="card" id="delete-account"> -->
  <div
    class="row d-flex"
    style="justify-content: space-between; align-items: center"
  >
    <!-- Next/Previous Week Control Buttons -->
    <div class="col-md-4">
      <div class="btn-group">
        <button
          id="control-calendar-button"
          class="btn button"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
        >
          Préc
        </button>
        <button
          id="white-calendar-button"
          class="btn button"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Auj
        </button>
        <button
          id="control-calendar-button"
          class="btn button"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
        >
          Suiv
        </button>
      </div>
    </div>
    <!-- Today date -->
    <div class="col-md-4">
      <h2>{{ viewDate | date: "mediumDate" }}</h2>
    </div>
    <!-- Month/Week/Day Control Buttons  -->
    <div class="col-md-4">
      <div class="btn-group" *ngIf="!mobileMode">
        <button
          id="white-calendar-button"
          class="btn button"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
          [ngClass]="{ 'selected-btn': view === CalendarView.Month }"
        >
          Mois
        </button>
        <button
          id="white-calendar-button"
          class="btn button"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
          [ngClass]="{ 'selected-btn': view === CalendarView.Week }"
        >
          Semaine
        </button>
        <button
          id="white-calendar-button"
          class="btn button"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
          [ngClass]="{ 'selected-btn': view === CalendarView.Day }"
        >
          Jour
        </button>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [dayStartHour]="8"
      [dayEndHour]="17"
      [refresh]="refresh"
      (eventClicked)="handleEvent($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [dayStartHour]="9"
      [dayEndHour]="17"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent($event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>
  <!-- </div> -->
</div>
