<h2 matDialogTitle>Add Interview</h2>
<mat-dialog-content>
  <div class="inputs-row">
    <input
      class="text-area"
      [(ngModel)]="newInterview.title"
      value="{{ newInterview?.title }}"
      type="text"
      placeholder="Title"
    />

    <input
      class="text-area"
      [(ngModel)]="newInterview.date"
      value="{{ newInterview?.date }}"
      type="datetime-local"
      min="1"
      max="22"
    />
  </div>
  <div class="inputs-row">
    <input
      type="text"
      matInput
      class="text-area"
      [formControl]="myControl"
      [matAutocomplete]="auto"
      [(ngModel)]="newInterview.userId"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayFn.bind(this)"
    >
      <mat-option
        *ngFor="let user of filteredOptions | async"
        [value]="user._id"
      >
        {{ user.username }}
      </mat-option>
    </mat-autocomplete>

    <select [(ngModel)]="newInterview.status" class="text-area">
      <option value="new">New</option>
      <option value="confirmed">Confirmed</option>
      <option value="canceled">Canceled</option>
    </select>
  </div>
  <div class="inputs-row">
    <input
      class="text-area"
      type="text"
      [(ngModel)]="newInterview.test['title']"
      placeholder="Test title"
    />

    <input
      class="text-area"
      type="text"
      [(ngModel)]="newInterview.test['url']"
      placeholder="Test url"
    />
  </div>
  <div class="inputs-row">
    <input class="text-area" type="file" [(ngModel)]="newInterview.files" />

    <textarea
      class="text-area"
      [(ngModel)]="newInterview.test['description']"
      placeholder="Test description"
    ></textarea>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <div>
    <button
      [disabled]="
        !newInterview?.title || !newInterview?.date || !newInterview.status
      "
      (click)="createInterview(newInterview)"
    >
      Add
    </button>
  </div>
  <div [mat-dialog-close]="'close'">
    <button>Close</button>
  </div>
</mat-dialog-actions>
