<div class="dashboard">
  <div class="events-container">
    <div
      class="d-flex dates"
      style="justify-content: space-between; align-items: center"
    >
      <h1>Contracts Table</h1>

      <div class="edit-button" *ngIf="isAdmin">
        <button
          matTooltip="Add Contract"
          id="add-button"
          class="btn button"
          (click)="openDialog($event, 'add', undefined)"
        >
          Add Contract
        </button>
      </div>
    </div>
  </div>

  <div class="row d-flex dates" style="position: relative">
    <div class="example-loading-shade" *ngIf="isLoading">
      <mat-spinner> </mat-spinner>
    </div>

    <mat-form-field appearance="standard">
      <mat-label>Filter</mat-label>
      <input
        matInput
        [(ngModel)]="filterVal"
        (ngModelChange)="searchNotifier.next()"
        placeholder="Ex. ium"
        #input
      />
    </mat-form-field>
    <table mat-table [dataSource]="contracts">
      <ng-container matColumnDef="#">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon *ngIf="element.enabled" style="color: green">
            check_circle
          </mat-icon>
          <mat-icon *ngIf="!element.enabled" style="color: rgb(201, 18, 18)"
            >block</mat-icon
          >
        </td>
      </ng-container>
      <!-- user Column -->
      <ng-container matColumnDef="ref" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>Ref</th>
        <td mat-cell *matCellDef="let element">
          {{ element.user.userRef }}
        </td>
      </ng-container>
      <ng-container matColumnDef="employee" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef>Employee</th>
        <td mat-cell *matCellDef="let element">
          {{ element.user.profile.fullname }}
        </td>
      </ng-container>

      <!-- startdate Column -->
      <ng-container matColumnDef="startdate">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.startDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element">
          {{ element.endDate | date }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">
          <span [style.color]="element.status == 'active' ? 'green' : 'red'">
            <clr-icon
              shape="dot-circle"
              [style.color]="element.status === 'active' ? 'green' : 'red'"
            ></clr-icon>
            {{ element.status }}</span
          >
        </td>
      </ng-container>

      <!-- type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>type</th>
        <td mat-cell *matCellDef="let element">{{ element.contractType }}</td>
      </ng-container>

      <!-- action Column -->
      <ng-container matColumnDef="action">
        <th class="px-3" mat-header-cell *matHeaderCellDef>Actions</th>
        <td class="px-3" mat-cell *matCellDef="let element; let i = index">
          <button
            *ngIf="isAdmin"
            mat-icon-button
            matTooltip="Edit Contract"
            class="btn btn-info"
            (click)="openDialog($event, 'edit', element)"
          >
            <clr-icon shape="pencil"></clr-icon>
          </button>

          <button
            *ngIf="isAdmin"
            mat-icon-button
            class="btn btn-outline-danger"
            (click)="deleteContract(element?._id)"
            matTooltip="Delete Contract"
          >
            <clr-icon shape="trash" style="color: red !important"></clr-icon>
          </button>

          <button
            mat-icon-button
            class="btn btn-outline-primary"
            (click)="openDialog($event, 'view', element)"
            matTooltip="View Contract"
          >
            <clr-icon shape="eye"></clr-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      *ngIf="!isLoading"
      #paginator
      [length]="total"
      [pageIndex]="p"
      [pageSize]="limit"
      [pageSizeOptions]="[7, 14, 21, 28, 42]"
      showFirstLastButtons
      (page)="changePage($event)"
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
